@charset "UTF-8";
@import url(normalize.css);
@import url(jquery-ui-slider.css);
/* FONTS */
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Proxima Nova Regular.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Proxima Nova Regular Italic.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Proxima Nova Black.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Proxima Nova Black Italic.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Proxima Nova Bold.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Proxima Nova Semibold.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Proxima Nova Extrabold.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Proxima Nova Extrabold Italic.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Proxima Nova Light.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Proxima Nova Light Italic.otf") format("truetype");
}
@font-face {
  font-family: "Rubl";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ALSRubl.eot?#iefix") format("embedded-opentype"), url("../fonts/ALSRubl.woff") format("woff"), url("../fonts/ALSRubl.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Black";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato-Black.ttf") format("truetype");
}
/* end fonts */
.rubl {
  font-family: 'Rubl';
  font-style: normal;
  font-weight: normal;
  margin-left: 5px;
}

html {
  height: 100%;
}

body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
  height: 100%;
  color: #000;
  background: #e8e3dc url(../img/bg.png);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container-fluid {
  min-width: 1000px;
  max-width: 1360px;
  position: relative;
  font-size: 14px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container-fluid:before, .container-fluid:after {
  content: '';
  display: block;
  clear: both;
}

.main-wrapper {
  min-height: 100%;
  overflow: hidden;
}

.buffer {
  height: 155px;
}

label {
  font-weight: normal;
}

img {
  max-width: 100%;
}

a img {
  border: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a:focus {
  text-decoration: none;
  color: inherit;
}

button, input, textarea {
  outline: none;
}

a:not([class]) {
  color: #c4ac48;
  text-decoration: underline;
}
a:not([class]):hover {
  text-decoration: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.clearfix:after, .clearfix:before {
  content: '';
  display: block;
  clear: both;
}

.form-input {
  background: #fff;
  width: 100%;
  border: none;
  line-height: 38px;
  border-radius: 20px;
  padding: 0 10px 0 29px;
  font-size: 12px;
  border: 1px solid #ccc7c1;
  resize: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.form-input.error {
  border: 2px solid #f20;
}
.form-btn {
  border: none;
  height: 34px;
  line-height: 34px;
  background: #e8d06d;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  padding: 0 18px;
}
.form-btn:hover {
  background: #c7b25d;
}
.form-btn.disabled, .form-btn[disabled] {
  color: #bfbcb0;
  cursor: default;
}
.form-control {
  position: relative;
  margin-bottom: 15px;
}
.form-label {
  font-size: 12px;
  color: #898685;
  margin: 0 0 11px 11px;
  display: block;
}
.form-icon {
  width: 13px;
  height: 13px;
  position: absolute;
  bottom: 14px;
  left: 25px;
}
.form-icon-shield {
  bottom: 13px;
  background: url(../img/ico-shield.png) 0 0 no-repeat;
}
.form-icon-email {
  background: url(../img/ico-email.png) 0 0 no-repeat;
}
.form-icon-user {
  background: url(../img/ico-user.png) 0 0 no-repeat;
}
.form-icon-phone {
  background: url(../img/ico-phone.png) 2px 0 no-repeat;
}
.form-icon-city {
  background: url(../img/gray-menu.png) 0 0 no-repeat;
}
.form-icon-address {
  background: url(../img/marker.png) 0 0 no-repeat;
}
.form-flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
.form-flex.two-column .form-control {
  -webkit-flex-basis: 48%;
  -moz-flex-basis: 48%;
  flex-basis: 48%;
  -ms-flex-preferred-size: 48%;
}
.form-flex.three-column .form-control {
  -webkit-flex-basis: 32%;
  -moz-flex-basis: 32%;
  flex-basis: 32%;
  -ms-flex-preferred-size: 32%;
}

.btn {
  border-radius: 20px;
  border: 2px solid;
  padding: 0 17px;
  line-height: 33px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  text-decoration: none;
}

/* VENDOR  CSS */
.fancybox-image,
.fancybox-inner,
.fancybox-nav,
.fancybox-nav span,
.fancybox-outer,
.fancybox-skin,
.fancybox-tmp,
.fancybox-wrap,
.fancybox-wrap iframe,
.fancybox-wrap object {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: 0 0;
  border-radius: 0;
  color: #444;
  text-shadow: none;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-inner,
.fancybox-outer {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Proxima Nova", sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-iframe,
.fancybox-image {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
  background-image: url(../img/fancybox_sprite.png);
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: .8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(../img/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  display: none;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: url(../img/blank.gif);
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

.fancybox-lock {
  overflow: hidden;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.75);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

.fancybox-title {
  visibility: hidden;
  font: 400 13px/20px "Proxima Nova", sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: 0 0;
  background: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #ffffff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../img/slider_arrow.png) no-repeat 0 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(../img/slider_arrow.png) no-repeat 0 0;
}

.bx-wrapper .bx-prev:hover {
  opacity: 1;
}

.bx-wrapper .bx-next:hover {
  opacity: 1;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 31px;
  height: 31px;
  text-indent: -9999px;
  z-index: 9999;
  opacity: 0.8;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/*
 * Core styles for PriorityNav.js
 * These styles are not optional and should always be included
 *
 * Free to use under the MIT License.
 * http://twitter.com/GijsRoge
 */
.priority-nav {
  white-space: nowrap;
  /*
    * Makes sure the menu's are inline-block so they don't take up
    * the entire width of its parent. This will break the plugin.
    */
}
.priority-nav > ul {
  display: inline-block;
}
.priority-nav > ul > li {
  display: inline-block;
}
.priority-nav-has-dropdown .priority-nav__dropdown-toggle {
  border: none;
  background: none;
  margin-left: 15px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  position: relative;
}
.priority-nav-has-dropdown .priority-nav__dropdown-toggle:after {
  content: '';
  position: absolute;
  top: 7px;
  right: -13px;
  background: url(../img/red-arrow.png) 0 0 no-repeat;
  width: 11px;
  height: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.priority-nav-has-dropdown .priority-nav__dropdown-toggle.is-open:after {
  background: url(../img/gray-arrow.png) 0 0 no-repeat;
}
.priority-nav__wrapper {
  position: relative;
}
.priority-nav__dropdown {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  border-radius: 4px;
  margin: 0;
  padding: 0 14px;
  top: 26px;
  right: -20px;
  z-index: 10;
  text-align: right;
  border: 1px solid #ccc;
  background: #e8d06d;
}
.priority-nav__dropdown .menu__link {
  color: #000;
  margin: 0;
}
.priority-nav__dropdown .menu__link.active:before, .priority-nav__dropdown .menu__link:hover:before {
  background: #000;
}
.priority-nav__dropdown .menu__item {
  margin: 10px 0;
  display: block;
  padding: 5px 0 !important;
}
.priority-nav__dropdown.show {
  visibility: visible;
}
.priority-nav__dropdown-toggle {
  visibility: hidden;
  position: absolute;
}
.priority-nav-is-visible {
  visibility: visible;
}
.priority-nav-is-hidden {
  visibility: hidden;
}

/* HEADER */
.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
.menu__item {
  display: inline-block;
  padding: 0px 14px 0 20px;
  line-height: 14px;
}
.menu__item:last-child {
  padding: 0 17px 0 20px;
}
.menu__link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  position: relative;
}
.menu__link:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.menu__link.active, .menu__link:hover {
  text-decoration: none;
}
.menu__link.active:before, .menu__link:hover:before {
  width: 100%;
}
.menu-header .menu__item {
  border-left: 1px solid #aaaaaa;
}
.menu-header .menu__item:last-child {
  border-right: 1px solid #aaa;
}
.menu-header .menu__link {
  color: #000;
}
.menu-header .menu__link:before {
  background: #d59f4f;
}
.menu-header .menu__link:hover, .menu-header .menu__link.active {
  color: #000;
}
.menu-footer .menu__item {
  border-left: 1px solid #555;
}
.menu-footer .menu__item:last-child {
  border-right: 1px solid #555;
}
.menu-footer .menu__link {
  color: #fff;
}
.menu-footer .menu__link:before {
  background: #fff;
}
.menu-footer .menu__link:hover, .menu-footer .menu__link.active {
  color: #fff;
}

.header {
  position: relative;
  z-index: 2;
}
.header__logo {
  float: left;
  display: inline-block;
  margin: -6px 0 -99px -15px;
  z-index: 2;
  position: relative;
}
.header__block-inner {
  margin-left: 155px;
}
.header-top-block {
  padding-top: 19px;
  background: #fff;
  margin-bottom: -5px;
  border-bottom: 1px solid #cfcfce;
}
.header-top-block__phone, .footer-top__phone {
  font-size: 17px;
  font-weight: 800;
  color: #3d3835;
  margin: 0 2% 0 0;
  display: inline-block;
  position: relative;
  float: right;
}
.header-top-block__phone:before, .footer-top__phone:before {
  content: '';
  position: absolute;
  top: 0;
  left: -28%;
  background: url(../img/header-sprite.png) -5px -5px no-repeat;
  width: 23px;
  height: 25px;
}
.header-top-block__work-text, .footer-top__work-text {
  color: #898685;
  line-height: normal;
  font-size: 12px;
  margin: -1px 2% 0 0px;
  display: inline-block;
}
.header-top-block__email, .footer-top__email {
  color: #d59f4f;
  font-family: "Lato Black";
  font-size: 15px;
  display: inline-block;
  line-height: 17px;
  border-bottom: 1px solid;
  position: relative;
}
.header-top-block__email:focus, .footer-top__email:focus, .header-top-block__email:hover, .footer-top__email:hover {
  text-decoration: none;
  color: #d59f4f;
  border-bottom: 1px solid transparent;
}
.header-top-block__email:before, .footer-top__email:before {
  content: '';
  position: absolute;
  top: 1px;
  left: -39px;
  background: url(../img/header-sprite.png) -66px -55px no-repeat;
  width: 21px;
  height: 17px;
}
.header-top-block__email-block, .basket, .footer-top__email-block {
  width: 197px;
  text-align: right;
  position: relative;
}
.header-top-block__email-block:before, .basket:before, .footer-top__email-block:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 1px;
  height: 15px;
  background: #aaa;
}
.header-middle-block {
  padding: 22px 0;
}
.header-bottom-block {
  background: rgba(0, 0, 0, 0.7);
  height: 98px;
  border-bottom: 1px solid #6d6248;
}

.search-form {
  width: 50%;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.search-form__input, .subscribe__input {
  border: 1px solid #d1c6b8;
  padding-right: 120px;
}
.search-form__input:focus, .subscribe__input:focus {
  box-shadow: 0 0 4px #d59f4f;
}
.search-form__input.smart-open, .smart-open.subscribe__input {
  background: #f3efe9;
  border-radius: 20px 20px 0 0;
}
.search-form__btn {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 0 26px 0 50px;
}
.search-form__btn:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 21px;
  background: url(../img/header-sprite.png) -133px -5px;
  width: 15px;
  height: 15px;
}

.user__block {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  position: relative;
}
.user__link {
  border-bottom: 1px dotted;
  color: #000;
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  vertical-align: top;
  position: relative;
  margin: 13px 63px 0 70px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.user__link:hover {
  color: #543500;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
}
.user__link:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -48px;
  width: 41px;
  height: 40px;
}
.user__link:after {
  content: '';
  position: absolute;
  top: 0;
  left: -71px;
  width: 1px;
  height: 15px;
  background: #aaa;
}
.user__link-enter:before {
  background: url(../img/enter-static.png) 0 0 no-repeat;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.user__link-enter:hover:before {
  background: url(../img/enter-hover.png) 0 0 no-repeat;
}
.user__link-registration {
  margin-right: 0;
}
.user__link-registration:before {
  background: url(../img/header-sprite.png) no-repeat;
  top: -11px;
  left: -55px;
  background-position: -5px -47px;
}
.user__link-login {
  margin: 13px 30px 0 70px;
  color: #543500;
}
.user__link-login:before {
  content: '';
  position: absolute;
  top: 7px;
  right: -20px;
  left: auto;
  background: url(../img/red-arrow.png) 0 0 no-repeat;
  width: 11px;
  height: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.user__link-login.active:before {
  background: url(../img/gray-arrow.png) 0 0 no-repeat;
}
.user__img {
  border-radius: 50%;
  z-index: 11;
  border: 5px solid #e8e3dc;
  position: absolute;
  top: 0;
  left: 20px;
}
.user__drop-down {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
  z-index: 10;
  width: 140px;
  padding: 17px 11px 5px 11px;
  border-radius: 5px;
  background: #e8d06d url(../img/user-bg.png) right center no-repeat;
  position: absolute;
  top: 29px;
  left: 15px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.user__drop-down.active {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.user__drop-down-item {
  padding: 17px 11px;
}
.user__drop-down-item:first-child {
  border-bottom: 1px solid #baa657;
}
.user__drop-down-link {
  display: inline-block;
  font-size: 12px;
  border-bottom: 1px solid;
  line-height: 10px;
  margin-left: 23px;
  position: relative;
}
.user__drop-down-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 11px;
  height: 13px;
}
.user__drop-down-link:hover {
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
.user__drop-down-link.profile {
  color: #000;
}
.user__drop-down-link.profile:before {
  background: url(../img/user.png) 0 0 no-repeat;
}
.user__drop-down-link.exit {
  color: #533114;
}
.user__drop-down-link.exit:before {
  background: url(../img/door.png) 0 0 no-repeat;
}

.basket {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 13px;
  color: #7f7a76;
  margin: 11px 0 0 -20px;
  text-align: left;
  padding-left: 63px;
}
.basket__price {
  display: inline-block;
}
.basket__link {
  font-size: 13px;
  font-weight: bold;
  color: #7f7a76;
  display: inline-block;
  border-bottom: 1px dotted;
  line-height: 15px;
}
.basket__link:hover {
  color: #7f7a76;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
}
.basket__img-block {
  background: url(../img/header-sprite.png) -38px -5px;
  width: 34px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: 19px;
}
.basket__quantity {
  text-align: center;
  position: absolute;
  right: 0;
  bottom: -2px;
  border-radius: 50%;
  background: #e8d06d;
  color: #000;
  width: 20px;
  line-height: 20px;
  height: 20px;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
}

.category {
  margin-left: -38px;
}
.category__link {
  padding: 29px 38px 0 38px;
  height: 97px;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.category__link.active, .category__link:hover {
  background: rgba(0, 0, 0, 0.5);
}
.category__link.active .category__title, .category__link:hover .category__title {
  border-bottom: 1px dotted transparent;
}
.category__link:not(:last-child):before {
  content: '';
  position: absolute;
  top: 17px;
  right: 0;
  background: url(../img/header-sprite.png) -133px -45px no-repeat;
  width: 1px;
  height: 65px;
}
.category__link:first-child {
  margin-right: -4px;
}
.category__img {
  float: left;
  margin-right: 15px;
}
.category__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
  margin: 8px 0 0px 0;
  font-weight: bold;
  line-height: 13px;
  border-bottom: 1px dotted #fdce6b;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.category__description {
  display: inline-block;
}
.category__quantity {
  color: #a59b87;
  font-size: 12px;
  margin: 0;
  position: relative;
  display: inline-block;
  padding-right: 20px;
}
.category__quantity:before {
  content: '';
  position: absolute;
  top: 6px;
  right: -8px;
  background: url(../img/header-sprite.png) -133px -30px no-repeat;
  width: 14px;
  height: 5px;
}

.smart-result__block {
  position: absolute;
  top: 38px;
  left: 0;
  border: 1px solid #d1c6b8;
  border-radius: 0 0 15px 15px;
  z-index: 3;
  background: #fff;
  width: 100%;
  display: none;
  padding: 10px;
}
.smart-result__item {
  padding: 10px 0 15px 0;
  margin: 0 10px 4px 10px;
  border-bottom: 1px solid #d9d9d9;
}
.smart-result__item:after {
  content: '';
  display: block;
  clear: both;
}
.smart-result__item:last-child {
  margin-bottom: -3px;
  border-bottom: none;
}
.smart-result__img {
  float: left;
  max-width: 45px;
  max-height: 50px;
}
.smart-result__description {
  margin: 7px 0 0 53px;
}
.smart-result__title {
  color: #000;
  display: block;
  margin-bottom: 7px;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.smart-result__title:hover {
  text-decoration: none;
  color: #e8d06d;
}
.smart-result__category {
  color: #aa4507;
  font-size: 13px;
  display: inline-block;
  border-bottom: 1px solid #efe0dc;
  line-height: 13px;
}
.smart-result__category:hover {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

/* end HEADER*/
/* CONTENT */
.content.sidebar-margin {
  margin-left: 330px;
}
.content-top {
  margin-top: -110px;
  height: 110px;
  overflow: hidden;
  /* под вопросом*/
}

#enter,
#restore {
  width: 320px;
}

#registration {
  width: 610px;
}

.modal {
  display: none;
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 32px 27px;
}
.modal__title {
  margin: 0 11px 26px 11px;
  font-size: 20px;
  font-weight: bold;
}
.modal__title-registration {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 33px;
  margin: 0 11px 36px 11px;
}
.modal__close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 23px;
  right: 31px;
}
.modal__close:after, .modal__close:before {
  content: '';
  width: 100%;
  height: 2px;
  background: #a3a3a3;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.modal__close:before {
  position: absolute;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal__close:after {
  position: absolute;
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal__close:hover:after {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.modal__close:hover:before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.modal__input, .contacts__input {
  border: 1px solid #d1c7b8;
  padding: 0 10px 0 53px;
}
.modal__input:focus, .contacts__input:focus {
  box-shadow: 0 0 4px #d59f4f;
}
.modal__link {
  font-size: 13px;
  color: #aa4507;
  display: inline-block;
  border-bottom: 1px solid #efe0dc;
  line-height: 13px;
  margin-left: 11px;
}
.modal__link:hover {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.modal__btn {
  display: block;
  text-align: center;
  width: 100%;
  height: 38px;
}
.modal__btn-registration {
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
  max-width: 260px;
  height: 40px;
}
.modal__half-block {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 27px;
}

.video__wrapper {
  margin-top: -98px;
  position: relative;
  height: 280px;
}
.video__wrapper.index-height {
  height: 587px;
}
.video__block {
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.video__player {
  position: absolute;
  top: 0;
  left: 0;
  width: 115%;
}

.sidebar {
  width: 295px;
  float: left;
  margin-bottom: 74px;
}

.banner__section {
  margin: -73px 0 3px 0;
}
.banner__img {
  margin-bottom: 14px;
}

.subscribe__block {
  padding: 0 14px;
  margin-bottom: 20px;
}
.subscribe__title {
  margin: 0 0 10px 0;
  border-bottom: 1px solid #c0c0c0;
  padding: 10px 7px 15px 47px;
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
}
.subscribe__title:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 14px;
  background: url(../img/mail.png) 0 0 no-repeat;
  width: 20px;
  height: 16px;
}
.subscribe__text {
  color: #7f7a76;
  padding: 0 7px;
  margin: 0 0 19px 0;
}
.subscribe__form {
  position: relative;
}
.subscribe__btn {
  position: absolute;
  top: 3px;
  right: 3px;
}

.goods-header {
  border-bottom: 1px solid #c5c1bb;
  min-height: 42px;
  padding: 35px 0 25px 0;
  margin-bottom: 25px;
}
.goods-header__title {
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  padding-left: 55px;
  position: relative;
}
.goods-header__title:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 4px;
  width: 34px;
  height: 32px;
}
.goods-header__title.popular:before {
  background: url(../img/g-popular.png) 0 0 no-repeat;
}
.goods-header__title.new:before {
  background: url(../img/g-new.png) 0 0 no-repeat;
}
.goods-header__btn {
  font-size: 12px;
  color: #000;
  border-color: #b2a994;
  line-height: 38px;
  position: relative;
  float: right;
  z-index: 2;
  margin: -15px 0 0 0;
}
.goods-header__btn:hover {
  background: #b2a994;
  color: #fff;
}
.goods-body {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  margin-left: -2%;
}
.goods-body__one-row-four-items .goods-body__item {
  width: 23%;
}
.goods-body__item {
  background: #fff;
  border: 2px solid #fff;
  margin: 0 0 20px 2%;
  position: relative;
  padding: 13px 13px 9px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.goods-body__item * {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.goods-body__item:hover {
  border: 2px solid #e8d06d;
  box-shadow: 0 0 4px #e8d06d;
}
.goods-body__item:hover .goods-body__detail-btn {
  right: 0;
  opacity: 1;
}
.goods-body__item:hover .goods-body__cart-btn {
  left: 0;
  opacity: 1;
}
.goods-body__item:hover .goods-body__price-block,
.goods-body__item:hover .goods-body__category,
.goods-body__item:hover .goods-body__name {
  opacity: 0;
}
.goods-body__item:hover .goods-body__wrapper {
  border-bottom: 1px solid transparent;
}
.goods-body__item:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 64%;
  height: 50%;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.58);
  border-radius: 50%;
  z-index: -1;
  margin: 0 auto;
}
.goods-body__wrapper {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 10px;
}
.goods-body__img {
  display: block;
  margin: auto;
  max-height: 140px;
}
.goods-body__price-block {
  background: #e8d06d;
  position: absolute;
  right: 0;
  bottom: 18px;
  padding: 7px 14px;
  font-size: 15px;
}
.goods-body__price {
  font-weight: bold;
  margin: 0;
}
.goods-body__name {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 0 5px;
  line-height: 18px;
  opacity: 1;
}
.goods-body__category {
  font-size: 13px;
  color: #737373;
  margin: 0;
  padding: 0 5px;
  opacity: 1;
}
.goods-body__description {
  position: relative;
  overflow: hidden;
}
.goods-body__cart-btn {
  color: #e8d06d;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
}
.goods-body__cart-btn:hover {
  background: #e8d06d;
  color: #FFF;
}
.goods-body__detail-btn {
  opacity: 0;
  position: absolute;
  top: 0;
  right: -100%;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #a6a6a6;
  font-weight: bold;
  z-index: 2;
}
.goods-body__detail-btn:hover {
  background: #a6a6a6;
  color: #fff;
}

.slider__section .bx-wrapper .bx-pager.bx-default-pager a {
  border-radius: 50%;
  background: transparent;
  border: 2px solid #fff;
  width: 17px;
  height: 17px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.slider__section .bx-wrapper .bx-pager.bx-default-pager a:hover,
.slider__section .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #e8d06d;
  border: 2px solid #e8d06d;
}
.slider__section .bx-wrapper .bx-pager,
.slider__section .bx-wrapper .bx-controls-auto {
  bottom: 83px;
}
.slider__section .bx-wrapper {
  margin: 0 auto;
}
.slider__block {
  padding: 0;
  margin: 0;
}
.slider__block:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  box-shadow: inset 0px 16px 15px 0px rgba(0, 0, 0, 0.5);
  height: 30px;
  z-index: 2;
}
.slider__item {
  height: 500px;
}

.about__section {
  background: #fff;
  padding-bottom: 18px;
  padding: 70px 0;
  border-bottom: 3px solid #e8e3dc;
}
.about__section.mozaik-bg {
  background: #fff url(../img/mozaik-bg.png);
}
.about__img-wrapper {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.about-description__block {
  vertical-align: top;
  margin-left: 6%;
  max-width: 44%;
  display: inline-block;
}
.about-description__block *:not([class]) {
  display: block;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 15px;
}
.about-description__title {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid #e8d06d;
  display: inline-block;
  margin: 0 0 10px;
}
.about-description__subtitle {
  font-size: 38px;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 0 20px;
  padding-bottom: 17px;
  position: relative;
  letter-spacing: -1px;
}
.about-description__subtitle:before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 50px;
  height: 1px;
  background: #7f7f7f;
}

.feedback__block {
  position: relative;
  border-left: 8px solid rgba(255, 255, 255, 0.35);
  padding: 45px;
  width: 50%;
  margin-left: 41.5%;
  margin-top: 7.3%;
}
.feedback__block:before, .feedback__block:after {
  content: '';
  background: rgba(255, 255, 255, 0.35);
  height: 8px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}
.feedback__block:after {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
}
.feedback__title {
  font-size: 13px;
  margin: 0 0 11px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid;
  padding-bottom: 4px;
  color: #e8d06d;
  display: inline-block;
}
.feedback__author {
  text-transform: uppercase;
  color: #fff;
  font-size: 38px;
  margin: 0 0 23px 0;
  position: relative;
  font-weight: bold;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}
.feedback__author:before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 50px;
  height: 1px;
  background: #969493;
}
.feedback__text {
  color: #e3d4be;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  line-height: 21px;
  max-height: 85px;
  overflow: hidden;
}

.thanks__block {
  width: 610px;
  margin: 40px auto;
  background: #fff;
  border-radius: 20px;
  padding: 14px 20px 29px 20px;
  text-align: center;
  border: 1px solid #ccc7c1;
}
.thanks__img {
  display: block;
  margin: 0 auto 17px auto;
}
.thanks__title {
  margin: 0 0 14px;
  font-size: 30px;
  font-weight: bold;
}
.thanks__text {
  color: #3d3835;
  margin: 0 0 5px;
  font-size: 15px;
  line-height: 20px;
}

.breadcrumbs {
  margin-bottom: 9px;
}
.breadcrumbs__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.breadcrumbs__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-right: 35px;
}
.breadcrumbs__item:not(:last-child):before {
  content: '';
  background: url(../img/arrow.png) 0 0 no-repeat;
  position: absolute;
  top: 7px;
  right: 8px;
  width: 14px;
  height: 5px;
  opacity: 0.7;
}
.breadcrumbs__link {
  display: inline-block;
  border-bottom: 1px solid;
  color: #ecdfab;
  font-size: 13px;
  line-height: 12px;
  opacity: 0.7;
}
.breadcrumbs__link.active, .breadcrumbs__link:focus, .breadcrumbs__link:active, .breadcrumbs__link:hover {
  color: #ecdfab;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.title {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
.title-category {
  font-size: 53px;
}

.faq__section {
  margin: 36px 0;
}
.faq__block {
  padding: 21px 10px 10px 10px;
  background: #fff;
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.faq__border {
  border-bottom: 1px dotted #b1aead;
}
.faq__question {
  color: #000;
  display: inline-block;
  margin: 0 30px 10px 40px;
}
.faq__question.active, .faq__question:hover {
  text-decoration: none;
}
.faq__question.active .faq__border, .faq__question:hover .faq__border {
  border-bottom: 1px dotted transparent;
}
.faq__question:before {
  content: '';
  position: absolute;
  top: 26px;
  left: 23px;
  background: url(../img/gray-menu.png) 0 0 no-repeat;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 11px;
  height: 10px;
}
.faq__question:after {
  content: '';
  position: absolute;
  top: 26px;
  right: 23px;
  background: url(../img/red-arrow.png) 0 0 no-repeat;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 11px;
  height: 4px;
}
.faq__question.active {
  border-bottom: 1px dotted transparent;
}
.faq__question.active:after {
  background: url(../img/gray-arrow.png) 0 0 no-repeat;
}
.faq__question.active:before {
  background: url(../img/red-menu.png) 0 0 no-repeat;
}
.faq__answer {
  background: #e8e3dc;
  margin-top: 10px;
  display: none;
  padding: 16px 30px 40px 30px;
}
.faq__answer-title {
  color: #3d3835;
  border-bottom: 1px solid #d0ccc6;
  margin: 0 0 19px;
  font-size: 15px;
  padding-bottom: 12px;
}
.faq__answer-text {
  color: #7f7a76;
  margin: 0;
}

.contacts {
  padding: 40px 0 100px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.contacts__info {
  padding: 8px 60px 100px 0;
  -webkit-flex-basis: 10.5%;
  -moz-flex-basis: 10.5%;
  flex-basis: 10.5%;
  -ms-flex-preferred-size: 10.5%;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  margin-right: 5%;
  border-right: 1px solid #d0ccc6;
}
.contacts__img {
  display: block;
  margin-bottom: 17px;
}
.contacts__phone {
  color: #3d3735;
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 4px 10px;
}
.contacts__text {
  color: #3d3735;
  margin: 0 0 34px 10px;
}
.contacts__email {
  color: #ecaf41;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid;
  display: inline-block;
  line-height: 34px;
}
.contacts__email:hover {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.contacts__form {
  padding-top: 8px;
  margin-right: 3%;
  padding-bottom: 100px;
  -webkit-flex-basis: 25%;
  -moz-flex-basis: 25%;
  flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  flex-grow: 2;
  -ms-flex-positive: 2;
}
.contacts__btn {
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  padding: 0 36px;
}
.contacts__textarea {
  line-height: normal;
  padding: 10px 10px 10px 29px;
}
.contacts__textarea:focus {
  box-shadow: 0 0 4px #d59f4f;
}

.profile__section {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  margin: 34px 0 104px 0;
}
.profile__form {
  -webkit-flex-basis: 42%;
  -moz-flex-basis: 42%;
  flex-basis: 42%;
  -ms-flex-preferred-size: 42%;
}
.profile__history {
  -webkit-flex-basis: 56%;
  -moz-flex-basis: 56%;
  flex-basis: 56%;
  -ms-flex-preferred-size: 56%;
}
.profile__title-wrapper {
  position: relative;
  margin-bottom: 26px;
}
.profile__title-wrapper:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #cfcac4;
  z-index: 2;
  position: absolute;
  top: 7px;
  left: 0;
}
.profile__title {
  text-transform: uppercase;
  font-size: 13px;
  color: #3d3835;
  margin: 0 0 0;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  padding: 0 20px 0 11px;
  background: #E5DFD8;
  font-weight: 600;
  z-index: 10;
}
.profile__btn {
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
}

.order__block {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 36px;
  position: relative;
  border: 1px solid #d4cabc;
  margin-left: 11px;
  height: 73px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.order__block:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 36px;
  border-left: 1px solid #d4cabc;
  border-bottom: 1px solid #d4cabc;
  border-right: 1px solid #d4cabc;
  z-index: -1;
}
.order__block-cell {
  padding: 0 10px 0 30px;
  margin: 15px 0;
  -webkit-flex-basis: 30%;
  -moz-flex-basis: 30%;
  flex-basis: 30%;
  -ms-flex-preferred-size: 30%;
}
.order__block-cell:nth-child(1), .order__block-cell:nth-child(2) {
  -webkit-flex-basis: 20%;
  -moz-flex-basis: 20%;
  flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
}
.order__block-cell:nth-child(1) {
  margin-left: 15px;
}
.order__block-cell:not(:last-child) {
  border-right: 1px solid #e4e3e0;
}
.order__block-title {
  margin: 0 0 7px;
  font-size: 12px;
  color: #858280;
}
.order__block-data {
  font-weight: bold;
  margin: 0;
  font-size: 15px;
  color: #3d3835;
}
.order__block-status {
  font-size: 15px;
  margin: 0;
}
.order__block-status-awaiting {
  color: #c4ac48;
}
.order__block-status-canceled {
  color: #e20000;
}
.order__block-status-completed {
  color: green;
}
.order__link {
  color: #e20000;
  border-bottom: 1px solid #e7beb8;
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  margin: 15px 0 0 60px;
}
.order__link:active, .order__link:focus, .order__link:hover {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.filter {
  margin-top: -24px;
  background: #fff;
  margin-bottom: 20px;
  padding: 7px 22px;
}
.filter__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  padding: 14px 0 16px 52px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}
.filter__title:not(:first-child) {
  border-top: 1px solid #d9d9d9;
}
.filter__title:before {
  content: '';
  background: url(../img/filter-sprite.png) 0 0 no-repeat;
  position: absolute;
  top: 12px;
  left: 11px;
  width: 24px;
  height: 24px;
}
.filter__title-price:before {
  background-position: -48px -54px;
}
.filter__title-brand:before {
  background-position: -96px -10px;
}
.filter__title-taste:before {
  background-position: -10px -10px;
}
.filter__title-volume:before {
  background-position: -52px -10px;
}
.filter__title-strength:before {
  background-position: -10px -54px;
}
.filter__range {
  margin: 36px 0 21px;
}
.filter__range-block {
  padding: 0 8px;
  margin-bottom: 21px;
  margin-top: 22px;
}
.filter__input {
  max-width: 80px;
  text-align: center;
  padding: 0 10px;
  font-size: 14px;
}
.filter__line {
  background: #000;
  width: 12px;
  height: 1px;
  display: inline-block;
  position: relative;
  margin: 3px 7px;
}
.filter__checkbox {
  display: none;
}
.filter__checkbox:checked + label:after {
  display: block;
}
.filter__label {
  position: relative;
  color: #737373;
  font-size: 13px;
  text-transform: uppercase;
  padding-left: 36px;
  display: block;
  cursor: pointer;
  margin-bottom: 18px;
}
.filter__label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: #e8e3dc;
}
.filter__label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: #ffc869;
  display: none;
}
.filter__more-link {
  display: inline-block;
  border-bottom: 1px dotted;
  color: #000;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
}
.filter__more-link:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
}
.filter__value {
  font-size: 13px;
  margin-left: 5px;
  display: inline-block;
}
.filter__btn {
  color: #fff;
  display: block;
  line-height: 43px;
  height: 43px;
  margin: 40px 0 30px;
  width: 100%;
  background: #39332c;
}
.filter__btn:hover {
  background: #474037;
}
.filter__text {
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: top;
}
.filter__result-item-link {
  color: #c4862a;
  border-bottom: 1px dotted #c4862a;
  display: inline-block;
  line-height: 14px;
}
.filter__result-item-link:hover {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.filter__sort {
  padding: 23px 0;
  border-bottom: 1px solid #bab6b0;
  margin-bottom: 21px;
}
.filter__sort-block {
  vertical-align: top;
}
.filter__sort-block .ui-selectmenu-button {
  display: inline-block;
  background: #fff;
  border: 1px solid #d1c7b8;
  border-radius: 25px;
  height: 40px;
  line-height: 40px;
  outline: none;
  margin-top: -10px;
}
.filter__sort-block .ui-selectmenu-button span.ui-selectmenu-text {
  font-size: 13px;
  padding: 0 40px 0 20px;
  line-height: 38px;
  height: 38px;
}
.filter__sort-block .ui-selectmenu-button span.ui-icon {
  width: 16px;
  height: 4px;
  top: 25px;
  right: 13px;
}
.filter__sort-block .ui-selectmenu-button span.ui-icon:after, .filter__sort-block .ui-selectmenu-button span.ui-icon:before {
  content: '';
  background: #a88c64;
  width: 100%;
  height: 1px;
}
.filter__sort-block .ui-selectmenu-button span.ui-icon:after {
  position: absolute;
  top: 2px;
  left: 1px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.filter__sort-block .ui-selectmenu-button span.ui-icon:before {
  position: absolute;
  top: 2px;
  right: 3px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

.pagination {
  text-align: center;
  margin: 80px 0;
}
.pagination__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.pagination__item {
  display: inline-block;
  vertical-align: top;
}
.pagination__link {
  color: #3d3731;
  font-size: 13px;
  font-weight: bold;
  background: #fff;
  display: block;
  width: 65px;
  height: 45px;
  line-height: 45px;
  border-radius: 50px;
  border: 1px solid #c1bdb7;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.pagination__link.active, .pagination__link:hover {
  text-decoration: none;
  color: #000;
  background: #f4f0ea;
}
.pagination__dots {
  position: relative;
  font-size: 24px;
  display: block;
  margin: 15px;
}

.basket-table {
  margin-right: 33%;
}
.basket-table__table {
  position: relative;
  width: 100%;
}
.basket-table__table thead {
  background: #fff;
  padding: 9px 0;
}
.basket-table__table:before {
  content: '';
  background: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  width: 400%;
  height: 70px;
  z-index: -1;
  box-shadow: -4px 3px 38px rgba(0, 0, 0, 0.25);
}
.basket-table__title:first-child {
  text-align: left;
  padding: 0;
  width: 58%;
}
.basket-table__title:first-child .basket-table__title-content {
  padding: 0;
}
.basket-table__title:not(:last-child) .basket-table__title-content {
  border-right: 1px solid #d9d9d9;
}
.basket-table__title:last-child {
  width: 70px;
}
.basket-table__title-content {
  padding: 0 20px;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  height: 52px;
  line-height: 52px;
  margin: 9px 0;
}
.basket-table__cell {
  padding: 20px;
  text-align: center;
  width: 14%;
  border-bottom: 1px dashed #93908c;
}
.basket-table__cell:first-child {
  text-align: left;
  padding: 20px 0;
  width: 58%;
}
.basket-table__cell:last-child {
  width: 100px;
}
.basket-table__quantity-wrap {
  position: relative;
}
.basket-table__quantity {
  width: 100%;
  text-align: center;
  background: #f6f6f6;
  border-radius: 20px;
  height: 39px;
  line-height: 39px;
  font-weight: bold;
  border: none;
}
.basket-table__price {
  font-size: 15px;
  display: inline-block;
  margin: 0;
  font-weight: bold;
}
.basket-table__goods-img-wrapper {
  width: 70px;
  padding: 0 10px;
  text-align: center;
  float: left;
}
.basket-table__goods-img {
  display: block;
  margin: auto;
}
.basket-table__goods-description {
  margin-left: 85px;
}
.basket-table__goods-name {
  margin: 0 20px 10px 0;
  text-transform: uppercase;
  font-size: 13px;
}
.basket-table__goods-category {
  color: #aa4507;
  font-size: 13px;
  display: inline-block;
  border-bottom: 1px solid #dcc8bd;
  line-height: 12px;
}
.basket-table__goods-category:hover {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.basket-table__remove {
  margin-top: 12px;
  width: 13px;
  height: 13px;
  position: relative;
  cursor: pointer;
  display: block;
}
.basket-table__remove:after {
  content: '';
  position: absolute;
  background: #f75350;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.basket-table__remove:before {
  content: '';
  position: absolute;
  background: #f75350;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.basket-table__remove:hover:before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.basket-table__remove:hover:after {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.basket-table__changer {
  border: none;
  background: none;
}
.basket-table__changer.minus {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 13px;
  left: 14px;
}
.basket-table__changer.minus:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 10px;
  height: 2px;
  background: #000;
}
.basket-table__changer.plus {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 18px;
  right: 13px;
  text-align: center;
}
.basket-table__changer.plus:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 2px;
  background: #000;
}
.basket-table__changer.plus:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 2px;
  background: #000;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.basket-header {
  position: relative;
}
.basket-form {
  width: 30%;
  background: #fff;
  float: right;
  padding: 15px;
  margin: -110px 0 40px 0;
  box-shadow: -4px 3px 38px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
}
.basket-form__inner {
  border: 3px dashed #e8d06d;
  padding: 17px 27px;
}
.basket-form__text {
  vertical-align: top;
  margin: 19px 15px 0 0;
  font-weight: bold;
}
.basket-form__price {
  font-size: 45px;
  font-weight: 900;
  margin: 6px 0 0 0;
  display: inline-block;
  vertical-align: top;
}
.basket-form__price + .rubl {
  font-size: 45px;
  display: inline-block;
  margin-top: 3px;
}
.basket-form__form {
  border-top: 1px solid #d9d9d9;
  margin-top: 15px;
  padding-top: 15px;
}
.basket-form__textarea {
  line-height: normal;
  padding: 10px 10px 10px 29px;
}
.basket-form__btn {
  width: 100%;
  font-size: 19px;
  height: 50px;
  line-height: 50px;
  font-weight: 900;
  color: #403819;
  background: #e8d06d;
}
.basket-form__description {
  font-size: 12px;
  color: #676462;
  margin: 0 0 10px;
  padding: 0 10px;
}
.basket-form__title {
  color: #977e16;
  text-transform: uppercase;
  margin: 9px 0 0 0;
  background: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  z-index: 2;
  padding-right: 10px;
  display: inline-block;
}
.basket-form__link {
  color: #000;
  font-weight: 600;
  display: inline-block;
  line-height: normal;
  padding: 22px 0 13px 54px;
  position: relative;
}
.basket-form__link span {
  border-bottom: 1px dotted #000;
}
.basket-form__link:hover {
  text-decoration: none;
}
.basket-form__link:hover span {
  border-bottom: 1px dotted transparent;
}
.basket-form__link:before {
  content: '';
  position: absolute;
  width: 41px;
  height: 40px;
  background: url(../img/header-sprite.png) no-repeat;
  top: 18px;
  left: 0;
  background-position: -5px -47px;
}
.basket-form__link.enter:before {
  background: url(../img/enter-static.png) 0 0 no-repeat;
}
.basket-form__center-text {
  font-style: italic;
  font-size: 12px;
  margin: 8px 0 0px;
  color: #8d8d8d;
  background: #fff;
  padding: 0 12px;
  position: relative;
  z-index: 2;
  display: inline-block;
}
.basket-form__line {
  position: relative;
}
.basket-form__line:before {
  content: '';
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #d9d9d9;
  z-index: -1;
}

/* end CONTENT */
/* FOOTER */
.footer {
  height: 155px;
  margin-top: -155px;
  background: url(../img/footer-bg.png);
  padding: 34px 0 50px;
}
.footer-top {
  min-height: 40px;
  padding-bottom: 10px;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-top__email-block:before {
  display: none;
}
.footer-top__phone {
  color: #fff;
}
.footer-top__phone:before {
  background: url(../img/footer-phone.png) 0 0 no-repeat;
}
.footer-bottom__img {
  float: left;
}
.footer-bottom__copyright {
  color: #beb8b4;
  font-size: 13px;
  margin: 10px 0 0 64px;
  line-height: 16px;
}
.footer__development {
  width: 88px;
  height: 35px;
  background: url(/img/dev_logo_pas.jpg) 0 0 no-repeat;
  margin-top: 7px;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  z-index: 200;
  display: block;
}
.footer__development:before {
  content: '';
  position: absolute;
  background: url(../img/dev_logo_active.png) 0 0 no-repeat;
  width: 88px;
  height: 35px;
  top: 0;
  left: -110px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer__development:after {
  content: '';
  position: absolute;
  background: url(../img/logo_up.png) 0 0 no-repeat;
  width: 26px;
  height: 0;
  top: 0;
  left: 19px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer__development:hover:after {
  height: 35px;
}
.footer__development:hover:before {
  left: 0;
}

/* end FOOTER*/
/* MEDIA */
@media (max-width: 1200px) {
  .category__link {
    padding: 29px 20px 0 20px;
  }

  .footer-top__phone:before {
    display: none;
  }
  .footer-top__work-text {
    display: none;
  }
}
@media (max-width: 1270px) {
  .basket {
    width: auto;
  }
  .basket__line {
    display: none;
  }

  .goods-body__one-row-four-items .goods-body__item {
    width: 31.3%;
  }
  .goods-body__last-four-none .goods-body__item:nth-child(4) {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
