/* CONTENT */
.content {
	&.sidebar-margin {
		margin-left: 330px;
	}
	&-top {
		margin-top: -110px;
		height: 110px;
		overflow: hidden; /* под вопросом*/
	}
}
#enter,
#restore {
	width: 320px;
}
#registration {
	width: 610px;
}
.modal {
	display: none;
	position: relative;
	background: #fff;
	border-radius: 20px;
	padding: 32px 27px;
	&__title {
		margin: 0 11px 26px 11px;
		font-size: 20px;
		font-weight: bold;
		&-registration {
			border-bottom: 1px solid #e5e5e5;
			padding-bottom: 33px;
			margin: 0 11px 36px 11px;
		}
	}
	&__close {
		cursor: pointer;
		width: 20px;
		height: 20px;
		@include position(absolute, 23px 31px null null);
		&:after,
		&:before {
			content: '';
			width: 100%;
			height: 2px;
			background: #a3a3a3;
			@include transition(all 0.4s ease-in-out);
		}
		&:before {
			@include position(absolute,  null null 0);
			@include transform(rotate(-45deg));
		}
		&:after {
			@include position(absolute,  null null 0);
			@include transform(rotate(45deg));
		}
		&:hover {
			&:after {
				@include transform(rotate(-135deg));
			}
			&:before {
				@include transform(rotate(135deg));
			}
		}
	}
	&__input {
		border: 1px solid #d1c7b8;
		padding: 0 10px 0 53px;
		&:focus {
			box-shadow: 0 0 4px #d59f4f;
		}
	}
	&__link {
		font-size: 13px;
		color: #aa4507;
		display: inline-block;
		border-bottom: 1px solid #efe0dc;
		line-height: 13px;
		margin-left: 11px;
		&:hover {
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
	}
	&__btn {
		display: block;
		text-align: center;
		width: 100%;
		height: 38px;
		&-registration {
			font-size: 15px;
			font-weight: bold;
			margin: 0 auto;
			max-width: 260px;
			height: 40px;
		}
	}
	&__half-block {
		width: 48%;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 27px;
	}
}
.video {
	&__wrapper {
		margin-top: -98px;
		position: relative;
		height: 280px;
		&.index-height {
			height: 587px;
		}
	}
	&__block {
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
	}
	&__player {
		@include position(absolute, 0 null null 0);
		width: 115%;
	}
}
// sidebar
.sidebar {
	width: 295px;
	float: left;
	margin-bottom: 74px;
}
// banner
.banner {
	&__section {
		margin: -73px 0 3px 0;	
	}
	&__img {
		margin-bottom: 14px;
	}
}
.subscribe {
	&__block {
		padding: 0 14px;
		margin-bottom: 20px;
	}
	&__title {
		margin: 0 0 10px 0;
		border-bottom: 1px solid #c0c0c0;
		padding: 10px 7px 15px 47px;
		color: #000;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 900; 
		position: relative;
		&:before {
			content: '';
			@include position(absolute, 11px null null 14px);
			background: url(../img/mail.png) 0 0 no-repeat;
			width: 20px;
			height: 16px;
		}
	}
	&__text {
		color: #7f7a76;
		padding: 0 7px;
		margin: 0 0 19px 0;
	}
	&__form {
		position: relative;
	}
	&__input {
		@extend .search-form__input;
	}
	&__btn {
		@include position(absolute, 3px 3px null null);
	}
}
// секция с товарами
.goods {
	&-header {
		border-bottom: 1px solid #c5c1bb;
		min-height: 42px;
		padding: 35px 0 25px 0;
		margin-bottom: 25px;
		&__title {
			font-size: 20px;
			margin: 0;
			text-transform: uppercase;
			font-weight: 900;
			padding-left: 55px;
			position: relative;
			&:before {
				content: '';
				@include position(absolute, -4px null null 4px);
				width: 34px;
				height: 32px;
			}
			&.popular {
				&:before {
					background: url(../img/g-popular.png) 0 0 no-repeat;
				}
			}
			&.new {
				&:before {
					background: url(../img/g-new.png) 0 0 no-repeat;
				}
			}
		}
		&__btn {
			font-size: 12px;
			color: #000;
			border-color: #b2a994;
			line-height: 38px;
			position: relative;
			float: right;
			z-index: 2;
			margin: -15px 0 0 0;
			&:hover {
				background: #b2a994;
				color: #fff;
			}
		}
	}
	&-body {
		@include display(flex);
		@include flex-wrap(wrap);
		@include align-items(stretch);
		margin-left: -2%;
		&__one-row-four-items {
			.goods-body__item {
				width: 23%;
			}
		}
		&__one-row-five-items {
			.goods-body__item {
				width: 18%;
			}
		}
		&__item {
			background: #fff;
			border: 2px solid #fff;
			margin: 0 0 20px 2%;
			position: relative;
			padding: 13px 13px 9px;
			@include transition(all 0.4s ease-in-out);
			& * {
				@include transition(all 0.4s ease-in-out);
			}
			&:hover {
				border: 2px solid $orange;
				box-shadow: 0 0 4px $orange;
				.goods-body__detail-btn {
					right: 0;
					opacity: 1;
				}
				.goods-body__cart-btn {
					left: 0;
					opacity: 1;
				}
				.goods-body__price-block,
				.goods-body__category,
				.goods-body__name {
					opacity: 0;
				}
				.goods-body__wrapper {
					border-bottom: 1px solid transparent;
				}
			}
			&:before {
				content: '';
				@include position(absolute, null 0 0 0);
				width: 64%;
				height: 50%;
				box-shadow: 0 0 100px rgba(0, 0, 0, 0.58);
				border-radius: 50%;
				z-index: -1;
				margin: 0 auto;
			}
		}
		&__wrapper {
			border-bottom: 1px solid #ccc;
			padding-bottom: 15px;
			position: relative;
			margin-bottom: 10px;
		}
		&__img {
			display: block;
			margin: auto;
			max-height: 140px;
		}
		&__price-block {
			background: $orange;
			@include position(absolute, null 0 18px null);
			padding: 7px 14px;
			font-size: 15px;
		}
		&__price {
			font-weight: bold;
			margin: 0;
		}
		&__name {
			font-size: 16px;
			font-weight: bold;
			margin: 0 0 5px 0;
			padding: 0 5px;
			line-height: 18px;
			opacity: 1;
		}
		&__category {
			font-size: 13px;
			color: #737373;
			margin: 0;
			padding: 0 5px;
			opacity: 1;
		}
		&__description {
			position: relative;
			overflow: hidden;
		}
		&__cart-btn {
			color: $orange;
			font-size: 10px;
			text-transform: uppercase;
			font-weight: bold;
			opacity: 0;
			// width: 103px;
			text-align: center;
			@include position(absolute, 0 null null -100%);
			z-index: 2;
			&:hover {
				background: $orange;
				color: #FFF;
			}
		}
		&__detail-btn {
			opacity: 0;
			@include position(absolute, 0 -100% null null);
			font-size: 10px;
			// width: 88px;
			text-align: center;
			text-transform: uppercase;
			color: #a6a6a6;
			font-weight: bold;
			z-index: 2;
			&:hover {
				background: #a6a6a6;
				color: #fff; 
			}
		}
	}
}
// slider
.slider {
	&__section {
		.bx-wrapper .bx-pager.bx-default-pager a {
			border-radius: 50%;
			background: transparent;
			border: 2px solid #fff;
			width: 17px;
			height: 17px;
			@include transition(all 0.4s ease-in-out);
		}
		.bx-wrapper .bx-pager.bx-default-pager a:hover,
		.bx-wrapper .bx-pager.bx-default-pager a.active {
			background: $orange;
			border: 2px solid $orange;
		}
		.bx-wrapper .bx-pager,
		.bx-wrapper .bx-controls-auto {
			bottom: 83px;
		}
		.bx-wrapper {
			margin: 0 auto;
		}
	}
	&__block {
		padding: 0;
		margin: 0;
		&:before {
			content: '';
			@include position(absolute, 0 0 null 0);
			width: 100%;
			box-shadow: inset 0px 16px 15px 0px rgba(0, 0, 0, 0.5);
			height: 30px;
			z-index: 2000;
		}
	}
	&__item {
		height: 500px;
	}
	&__img {}
}
// about
.about {
	&__section {
		background: #fff;
		padding-bottom: 18px;
		padding: 70px 0;
		border-bottom: 3px solid #e8e3dc;
		&.mozaik-bg {
			background: #fff url(../img/mozaik-bg.png);
		}
	}
	&__img-wrapper {
		width: 40%;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}
	&-description {
		&__block {
			vertical-align: top;
			margin-left: 6%;
			max-width: 44%;
			display: inline-block;
			& *:not([class]) {
				display: block;
				font-size: 16px;
				font-weight: 300;
				margin: 0 0 15px;
			}
		}
		&__title {
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
			padding-bottom: 5px;
			border-bottom: 1px solid $orange;
			display: inline-block;
			margin: 0 0 10px;
		}
		&__subtitle {
			font-size: 38px;
			font-weight: bold;
			border-bottom: 1px solid #e0e0e0;
			margin: 0 0 20px;
			padding-bottom: 17px;
			position: relative;
			letter-spacing: -1px;
			&:before {
				content: '';
				@include position(absolute, null null -1px 0);
				width: 50px;
				height: 1px;
				background: #7f7f7f;
			}
		}
	}
}
// отзывы в слайдере
.feedback {
	&__block {
		position: relative;
		border-left: 8px solid rgba(255, 255, 255, 0.35);
		padding: 45px;
		width: 50%;
		margin-left: 41.5%;
		margin-top: 7.3%;
		&:before,
		&:after {
			content: '';
			background: rgba(255, 255, 255, 0.35);
			height: 8px;
			width: 200px;
			@include position(absolute, 0 null null 0);
		}
		&:after {
			@include position(absolute, auto null 0 0);
		}
	}
	&__title {
		font-size: 13px;
		margin: 0 0 11px;
		font-weight: bold;
		text-transform: uppercase;
		border-bottom: 1px solid;
		padding-bottom: 4px;
		color: $orange;
		display: inline-block;
	}
	&__author {
		text-transform: uppercase;
		color: #fff;
		font-size: 38px;
		margin: 0 0 23px 0;
		position: relative;
		font-weight: bold;
		padding-bottom: 9px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.35);
		&:before {
			content: '';
			@include position(absolute, null null -1px 0);
			width: 50px;
			height: 1px;
			background: #969493;
		}
	}
	&__text {
		color: #e3d4be;
		font-size: 16px;
		font-weight: 300;
		margin: 0;
		line-height: 21px;
		max-height: 85px;
		overflow: hidden;
	}
}
// страница благодарности
.thanks {
	&__block {
		width: 610px;
		margin: 40px auto;
		background: #fff;
		border-radius: 20px;
		padding: 14px 20px 29px 20px;
		text-align: center;
		border: 1px solid #ccc7c1;
	}
	&__img {
		display: block;
		margin: 0 auto 17px auto;
	}
	&__title {
		margin: 0 0 14px;
		font-size: 30px;
		font-weight: bold;
	}
	&__text {
		color: #3d3835;
		margin: 0 0 5px;
		font-size: 15px;
		line-height: 20px;
	}
}
// хлебные крошки
.breadcrumbs {
	margin-bottom: 9px;
	&__list {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding-right: 35px;
		&:not(:last-child) {
			&:before {
				content: '';
				background: url(../img/arrow.png) 0 0 no-repeat;
				@include position(absolute, 7px 8px null null);
				width: 14px;
				height: 5px;
				opacity: 0.7;
			}	
		}
	}
	&__link {
		display: inline-block;
		border-bottom: 1px solid;
		color: #ecdfab;
		font-size: 13px;
		line-height: 12px;
		opacity: 0.7;
		&.active,
		&:focus,
		&:active,
		&:hover {
			color: #ecdfab;
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
	}
}
// тайтл 
.title {
	color: #fff;
	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	&-category {
		font-size: 53px;
	}
}

// faq блок
.faq {
	&__section {
		margin: 36px 0;
	}
	&__block {
		padding: 21px 10px 10px 10px;
		background: #fff;
		position: relative;
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
	}
	&__border {
		border-bottom: 1px dotted #b1aead;
	}
	&__question {
		color: #000;
		display: inline-block;
		margin: 0 30px 10px 40px;
		&.active,
		&:hover {
			.faq__border {
				border-bottom: 1px dotted transparent;
			}
			text-decoration: none;
		}
		&:before {
			content: '';
			@include position(absolute, 26px null null 23px);
			background: url(../img/gray-menu.png) 0 0 no-repeat;
			@include transition(all 0.4s ease-in-out);
			width: 11px;
			height: 10px;
		}
		&:after {
			content: '';
			@include position(absolute, 26px 23px null null);
			background: url(../img/red-arrow.png) 0 0 no-repeat;
			@include transition(all 0.4s ease-in-out);
			width: 11px;
			height: 4px;
		}
		&.active {
			border-bottom: 1px dotted transparent;
			&:after {
				background: url(../img/gray-arrow.png) 0 0 no-repeat;
			}
			&:before {
				background: url(../img/red-menu.png) 0 0 no-repeat;
			}
		}
	}
	&__answer {
		background: #e8e3dc;
		margin-top: 10px;
		display: none;
		padding: 16px 30px 40px 30px;
		&-title {
			color: #3d3835;
			border-bottom: 1px solid #d0ccc6;
			margin: 0 0 19px;
			font-size: 15px;
			padding-bottom: 12px;
		}
		&-text {
			color: #7f7a76;
			margin: 0;
		}
	}
}
// страница контактов
.contacts {
	padding: 40px 0 100px;
	@include display(flex);
	&__info {
		padding: 8px 60px 100px 0;
		@include flex-basis(10.5%);
		@include flex-grow(1);
		margin-right: 5%;
		border-right: 1px solid #d0ccc6;
	}
	&__img {
		display: block;
		margin-bottom: 17px;
	}
	&__phone {
		color: #3d3735;
		font-size: 32px;
		font-weight: bold;
		margin: 0 0 4px 10px;
	}
	&__text {
		color: #3d3735;
		margin: 0 0 34px 10px;
	}
	&__email {
		color: #ecaf41;
		font-size: 32px;
		font-weight: bold;
		border-bottom: 1px solid;
		display: inline-block;
		line-height: 34px;
		&:hover {
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
	}
	&__form {
		padding-top: 8px;
		margin-right: 3%;
		padding-bottom: 100px;
		@include flex-basis(25%);
		@include flex-grow(2);
	}
	&__input {
		@extend .modal__input;
	}
	&__btn {
		font-weight: 600;
		height: 40px;
		line-height: 40px;
		padding: 0 36px;
	}
	&__textarea {
		line-height: normal;
		padding: 10px 10px 10px 29px;
		&:focus {
			box-shadow: 0 0 4px #d59f4f;	
		}
	}
}
// страница профиля
.profile {
	&__section {
		@include display(flex);
		@include justify-content(space-between);
		margin: 34px 0 104px 0;
	}
	&__form {
		@include flex-basis(42%);
	}
	&__history {
		@include flex-basis(56%);
	}
	&__title-wrapper {
		position: relative;
		margin-bottom: 26px;
		&:before {
			content: '';
			width: 100%;
			height: 1px;
			background: #cfcac4;
			z-index: 2;
			@include position(absolute, 7px null null 0);
		}
	}
	&__title {
		text-transform: uppercase;
		font-size: 13px;
		color: #3d3835;
		margin: 0 0 0;
		letter-spacing: 2px;
		position: relative;
		display: inline-block;
		padding: 0 20px 0 11px;
		background: #E5DFD8;
		font-weight: 600;
		z-index: 10;
	}
	&__btn {
		line-height: 40px;
		height: 40px;
		padding: 0 40px;
	}
}
// блок с заказаом в истории
.order {
	&__block {
		background: rgba(255, 255, 255, 0.6);
		border-radius: 36px;
		position: relative;
		border: 1px solid #d4cabc;
		margin-left: 11px;
		height: 73px;
		margin-bottom: 10px;
		@include display(flex);
		&:before {
			content: '';
			@include position(absolute, 3px null null 0);
			width: 100%;
			height: 100%;
			border-radius: 36px;
			border-left: 1px solid #d4cabc;
			border-bottom: 1px solid #d4cabc;
			border-right: 1px solid #d4cabc;
			z-index: -1;
		}
		&-cell {
			padding: 0 10px 0 30px;
			margin: 15px 0;
			@include flex-basis(30%);
			&:nth-child(1),
			&:nth-child(2) {
				@include flex-basis(20%);
			}
			&:nth-child(1) {
				margin-left: 15px;
			}
			&:not(:last-child) {
				border-right: 1px solid #e4e3e0;
			}
		}
		&-title {
			margin: 0 0 7px;
			font-size: 12px;
			color: #858280;
		}
		&-data {
			font-weight: bold;
			margin: 0;
			font-size: 15px;
			color: #3d3835;
		}
		&-status {
			font-size: 15px;
			margin: 0;
			&-awaiting {
				color: #c4ac48;
			}
			&-canceled {
				color: #e20000;
			}
			&-completed {
				color: green;
			}
		}
	}
	&__link {
		color: #e20000;
		border-bottom: 1px solid #e7beb8;
		display: inline-block;
		font-size: 13px;
		line-height: 13px;
		margin: 15px 0 0 60px;
		&:active,
		&:focus,
		&:hover {
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
	}
}
// фильтр в сайдбаре
.filter {
	margin-top: -24px;
	background: #fff;
	margin-bottom: 20px;
	padding: 7px 22px;
	&__title {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 15px;
		margin: 0;
		padding: 14px 0 16px 52px; 
		border-bottom: 1px solid #d9d9d9;
		position: relative;
		&:not(:first-child) {
			border-top: 1px solid #d9d9d9;
		}
		&:before {
			content: '';
			background: url(../img/filter-sprite.png) 0 0 no-repeat;
			@include position(absolute, 12px null null 11px);
			width: 24px;
			height: 24px;
		}
		&-price {
			&:before {
				background-position: -48px -54px;	
			}
		}
		&-brand {
			&:before {
				background-position: -96px -10px;
			}
		}
		&-taste {
			&:before {
				background-position: -10px -10px;
			}
		}
		&-volume {
			&:before {
				background-position: -52px -10px;
			}
		}
		&-strength {
			&:before {
				background-position: -10px -54px;
			}
		}
	}
	&__range {
		margin: 36px 0 21px;
		&-block {
			padding: 0 8px;
			margin-bottom: 21px;
			margin-top: 22px;
		}
	}
	&__input {
		max-width: 80px;
		text-align: center;
		padding: 0 10px;
		font-size: 14px;
	}
	&__line {
		background: #000;
		width: 12px;
		height: 1px;
		display: inline-block;
		position: relative;
		margin: 3px 7px;
	}
	&__checkbox {
		display: none;
		&:checked + label {
			&:after {
				display: block;
			}
		}
	}
	&__label {
		position: relative;
		color: #737373;
		font-size: 13px;
		text-transform: uppercase;
		padding-left: 36px;
		display: block;
		cursor: pointer;
		margin-bottom: 18px;
		&:before {
			content: '';
			@include position(absolute, 0 null null 0);
			width: 16px;
			height: 16px;
			background: #e8e3dc;
		}
		&:after {
			content: '';
			@include position(absolute, 4px null null 4px);
			width: 8px;
			height: 8px;
			background: #ffc869;
			display: none;
		}
	}
	&__more-link {
		display: inline-block;
		border-bottom: 1px dotted;
		color: #000;
		font-size: 13px;
		line-height: 13px;
		font-weight: 600;
		&:hover {
			color: #000;
			text-decoration: none;
			border-bottom: 1px dotted transparent;
		}
	}
	&__value {
		font-size: 13px;
		margin-left: 5px;
		display: inline-block;
	}
	&__btn {
		color: #fff;
		display: block;
		line-height: 43px;
		height: 43px;
		margin: 40px 0 30px;
		width: 100%;
		background: #39332c;
		&:hover {
			background: lighten(#39332c, 5%);
		}
	}
	&__text {
		display: inline-block;
		margin: 0 10px 0 0;
		vertical-align: top;
	}
	&__result-item-link {
		color: #c4862a;
		border-bottom: 1px dotted #c4862a;
		display: inline-block;
		line-height: 14px;
		&:hover {
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
	}
	&__sort {
		padding: 23px 0;
		border-bottom: 1px solid #bab6b0;
		margin-bottom: 21px;
		&-block {
			vertical-align: top;
			.ui-selectmenu-button {
				display: inline-block;
				background: #fff;
				border: 1px solid #d1c7b8;
				border-radius: 25px;
				height: 40px;
				line-height: 40px;
				outline: none;
				margin-top: -10px;
			}
			.ui-selectmenu-button span.ui-selectmenu-text {
				font-size: 13px;
				padding: 0 40px 0 20px;
				line-height: 38px;
				height: 38px;
			}
			.ui-selectmenu-button span.ui-icon {
				width: 16px;
				height: 4px;
				top: 25px;
				right: 13px;
				&:after,
				&:before {
					content: '';
					background: #a88c64;
					width: 100%;
					height: 1px;
				}
				&:after {
					@include position(absolute, 2px null null 1px);
					@include transform(rotate(-30deg));
				}
				&:before {
					@include position(absolute, 2px 3px null null);
					@include transform(rotate(30deg));
				}
			}
		}
	}
}
// пагинация 
.pagination {
	text-align: center;
	margin: 80px 0;
	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
	}
	&__link {
		color: #3d3731;
		font-size: 13px;
		font-weight: bold;
		background: #fff;
		display: block;
		width: 65px;
		height: 45px;
		line-height: 45px;
		border-radius: 50px;
		border: 1px solid #c1bdb7;
		@include transition(all 0.4s ease-in-out);
		&.active,
		&:hover {
			text-decoration: none;
			color: #000;
			background: #f4f0ea;
		}
	}
	&__dots {
		position: relative;
		font-size: 24px;
		display: block;
		margin: 15px;
	}
}
// корзина
.basket {
	&-table {
		margin-right: 33%;
		&__table {
			position: relative;
			width: 100%;
			thead {
				background: #fff;
				padding: 9px 0;
				// display: block;
			}
			&:before {
				content: '';
				background: #fff;
				@include position(absolute, 0 null null -100%);
				width: 400%;
				height: 70px;
				z-index: -1;
				box-shadow: -4px 3px 38px rgba(0, 0, 0, 0.25);
			}
		}
		&__title {
			&:first-child {
				text-align: left;
				padding: 0;
				width: 58%;
				.basket-table__title-content {
					padding: 0;
				}
			}
			&:not(:last-child) {
				.basket-table__title-content {
					border-right: 1px solid #d9d9d9;
				}
			}
			&:last-child {
				width: 70px;
			}
			&-content {
				padding: 0 20px;
				display: block;
				font-size: 13px;
				text-transform: uppercase;
				height: 52px;
				line-height: 52px;
				margin: 9px 0;
			}
		}
		&__cell {
			padding: 20px;
			text-align: center;
			width: 14%;
			border-bottom: 1px dashed #93908c;
			&:first-child {
				text-align: left;
				padding: 20px 0;
				width: 58%;
			}
			&:last-child {
				width: 100px;
			}
		}
		&__quantity-wrap {
			position: relative;
		}
		&__quantity {
			width: 100%;
			text-align: center;
			background: #f6f6f6;
			border-radius: 20px;
			height: 39px;
			line-height: 39px;
			font-weight: bold;
			border: none;
		}
		&__price {
			font-size: 15px;
			display: inline-block;
			margin: 0;
			font-weight: bold;
		}
		&__goods-img-wrapper {
			width: 70px;
			padding: 0 10px;
			text-align: center;
			float: left;
		}
		&__goods-img {
			display: block;
			margin: auto;
		}
		&__goods-description {
			margin-left: 85px;
		}
		&__goods-name {
			margin: 0 20px 10px 0;
			text-transform: uppercase;
			font-size: 13px;
		}
		&__goods-category {
			color: #aa4507;
			font-size: 13px;
			display: inline-block;
			border-bottom: 1px solid #dcc8bd;
			line-height: 12px;
			&:hover {
				text-decoration: none;
				border-bottom: 1px solid transparent;
			}
		}
		&__remove {
			margin-top: 12px;
			width: 13px;
		    height: 13px;
		    position: relative;
		    cursor: pointer;
		    display: block;
		    &:after {
		    	content: '';
		    	position: absolute;
		    	background: #f75350;
		    	width: 100%;
		    	height: 2px;
		    	top: 0;
		    	left: 0;
		    	@include transform(rotate(-45deg));
		    	@include transition(all 0.4s ease-in-out);
		    }
		    &:before {
		    	content: '';
	    	    position: absolute;
	    	    background: #f75350;
	    	    width: 100%;
	    	    height: 2px;
	    	    top: 0;
	    	    left: 0;
	    	    @include transform(rotate(45deg));
	    	    @include transition(all 0.4s ease-in-out);
		    }
		    &:hover {
		    	&:before {
		    		@include transform(rotate(135deg));
		    	}
		    	&:after {
		    		@include transform(rotate(-135deg));
		    	}
		    }
		}
		&__changer {
			border: none; 
			background: none;
			&.minus {
				width: 10px;
				height: 10px;
				@include position(absolute, 13px null null 14px);
				&:before {
					content: '';
					@include position(absolute, 4px null null 0);
					width: 10px;
					height: 2px;
					background: #000;
				}
			}
			&.plus {
				width: 10px;
				height: 10px;
				@include position(absolute, 18px 13px null null);
				text-align: center;
				&:before {
					content: '';
					@include position(absolute, 0 null null 0);
					width: 10px;
					height: 2px;
					background: #000;
				}
				&:after {
					content: '';
					@include position(absolute, 0 null null 0);					
					width: 10px;
					height: 2px;
					background: #000;
					@include transform(rotate(90deg));
				}
			}
		}
	}
	&-header {
		position: relative;
	}
	&-form {
		width: 30%;
		background: #fff;
		float: right;
		padding: 15px;
		margin: -110px 0 40px 0;
		box-shadow: -4px 3px 38px rgba(0,0,0, 0.25);
		position: relative;
		z-index: 10;
		&__inner {
			border: 3px dashed $orange;
			padding: 17px 27px;
		}
		&__text {
			vertical-align: top;
			margin: 19px 15px 0 0;
			font-weight: bold;
		}
		&__price {
			font-size: 45px;
			font-weight: 900;
			margin: 6px 0 0 0;
			display: inline-block;
			vertical-align: top;
			& + .rubl {
				font-size: 45px;
				display: inline-block;
				margin-top: 3px;
			}
		}
		&__form {
			border-top: 1px solid #d9d9d9;
			margin-top: 15px;
			padding-top: 15px;
		}
		&__textarea {
			line-height: normal;
			padding: 10px 10px 10px 29px;
		}
		&__btn {
			width: 100%;
			font-size: 19px;
			height: 50px;
			line-height: 50px;
			font-weight: 900;
			color: #403819;
			background: #e8d06d;
		}
		&__description {
			font-size: 12px;
			color: #676462;
			margin: 0 0 10px;
			padding: 0 10px;
		}
		&__title {
			color: #977e16;
			text-transform: uppercase;
			margin: 9px 0 0 0;
			background: #fff;
			font-size: 12px;
			letter-spacing: 1px;
			z-index: 2;
			padding-right: 10px;
			display: inline-block;
		}
		&__link {
			color: #000;
			font-weight: 600;
			display: inline-block;
			line-height: normal;
			padding: 22px 0 13px 54px;
			position: relative;
			span {
				border-bottom: 1px dotted #000;
			}
			&:hover {
				text-decoration: none;
				span {
					border-bottom: 1px dotted transparent;
				}
			}
			&:before {
				content: '';
				position: absolute;
				width: 41px;
				height: 40px;
				background: url(../img/header-sprite.png) no-repeat;
				top: 18px;
				left: 0;
				background-position: -5px -47px;
			}
			&.enter {
				&:before {
					background: url(../img/enter-static.png) 0 0 no-repeat;
				}
			}
			&.registration {
				&:before {

				}
			}
		}
		&__center-text {
			font-style: italic;
			font-size: 12px;
			margin: 8px 0 0px;
			color: #8d8d8d;
			background: #fff;
			padding: 0 12px;
			position: relative;
			z-index: 2;
			display: inline-block;
		}
		&__line {
			position: relative;
			&:before {
				content: '';
				@include position(absolute, 16px null null 0);
				width: 100%;
				height: 1px;
				background: #d9d9d9;
				z-index: -1;
			}
		}
	}
}
// как это работает
.process {
	background: url(../img/gray-moz.png);
	padding: 36px 0 89px 0;
	&__title {
		color: #fff;
		text-transform: uppercase;
		margin: 0 0 61px;
		font-weight: 900;
		font-size: 20px;
		text-align: center;
		padding-bottom: 28px;
		border-bottom: 1px solid #5b5b5b;
	}
	&__img {
		font-size: 20px;
		display: inline-block;
		margin-right: 20px;
		border-radius: 50%;
		border: 2px solid #fff;
		width: 33px;
		height: 33px;
		line-height: 33px;
		font-weight: bold;
		text-align: center;
	}
	&__section {
		@include display(flex);
		@include justify-content(space-between);
	}
	&__block {
		@include flex-basis(18%);
		text-align: center;
		position: relative;
		&:not(:last-child) {
			&:before {
				content: '';
				background: url(../img/process-arrow.png) 0 0 no-repeat;
				@include position(absolute, 30px -36% null null);
				width: 28px;
				height: 11px;
				opacity: 0.4;
			}
		}
		&:hover {
			.process__block-text {
				color: #e8d06d;
			}
		}
		&-img {
			display: block;
			margin: 0 auto 31px auto;
		}
		&-text {
			margin: 0;
			line-height: 22px;
			color: #999288;
			@include transition( 0.4s ease-in-out);
		}
	}
}
// страница с товаром 
.item {
	&__article {
		margin: 0;
		color: #d0cec1;
		&-value {
			color: #fff;
			margin-left: 7px;
		}
	}
	&-image {
		&__section {
			width: 32%;
			// width: 420px;
			float: left;
		}
		&__main-block {
			border: 11px solid #d3ccc2;
			margin-bottom: 12px;
		}
		&__main-img {
			margin-bottom: -3px;
		}
		&__thumb {
			&-block {
				@include display(flex);
				@include flex-wrap(wrap);
				@include justify-content(center);
				margin-left: -11px;
			}
			&-wrapper {
				@include flex-basis(17%);
				margin: 0 0 11px 11px;
				max-width: 76px;
				max-height: 76px;
				overflow: hidden;
				background: #fff;
			}
			&-img {
				display: block;
				margin: auto;
			}
		}
	}
	&-info {
		// margin-left: 470px;
		margin-left: 35%;
		&__title {
			@include ellipsis(100%);
		}
		&__block-title {
			text-transform: uppercase;
			font-size: 15px;
			color: #000;
			margin: 0 0 3px;
			position: relative;
			padding-bottom: 18px;
			font-weight: bold;
			border-bottom: 1px solid #b9b5af;
			margin-bottom: 23px;
			&:before {
				content: '';
				background: #c3974c;
				@include position(absolute, null null -1px 0);
				width: 60px;
				height: 1px;
			}
		}
		&__characteristics {
			width: 30%;
			vertical-align: top;
			display: inline-block;
			&-value {
				margin: 0 0 10px;
				color: #837e77;
				& > * {
					color: #3d3835;
					margin-right: 7px;
					font-weight: bold;
				}
			}
		}
		&__description {
			float: right;
			width: 65%;
			vertical-align: top;
			display: inline-block;
		}
		&__video-link {
			float: right;
			position: relative;
			background: #fff;
			border-radius: 20px;
			border: 1px solid #ccc;
			box-shadow: 2px 2px 2px #ccc;
			padding: 8px 15px 8px 35px;
			text-transform: uppercase;
			color: #000;
			font-weight: 600;
			z-index: 2;
			opacity: 1;
			margin-top: -9px;
			display: inline-block;
			&:hover {
				text-decoration: none;
			}
			&:before {
				content: '';
				background: url(../img/play.png) 0 0 no-repeat;
				@include position(absolute, 5px null null 7px);
				width: 22px;
				height: 22px;
			}
		}
		&__text {
			color: #837e77;
			line-height: 21px;
			margin: 0 0 21px 0;
		}
		&__price {
			padding: 20px 0;
			margin-bottom: 41px;
			border-bottom: 1px solid #c0bcb6;
			@include display(flex);
			@include justify-content(space-between);
			position: relative;
			&:before {
				content: '';
				background: url(../img/shadow.png) 0 0 repeat-x;
				@include position(absolute, null null -19px 0);
				height: 19px;
				width: 100%;
				opacity: 0.5;
			}
			&-block {
				display: inline-block;
				vertical-align: top;
				position: relative;
				padding: 0 3%;
				form {
					position: relative;
					display: inline-block;
				}
				&:not(:last-child) {
					&:before {
						content: '';
						@include position(absolute, 20px 0 null null);
						width: 1px;
						height: 15px;
						background: #9b9793;
					}
				}
				&:first-child {
					padding: 0 3% 0 0;
				}
				&:last-child {
					padding: 0 0 0 3%;
				}
			}
		}
		&__price-title {
			color: #3d3835;
			margin: 0;
		}
		&__old-price {
			color: #7f7d79;
			font-weight: bold;
			font-size: 25px;
			display: inline-block;
			margin: 0;
			position: relative;
			&:before {
				content: '';
				background: #b8b4ae;
				@include position(absolute, 50% null null 0);
				width: 100%;
				height: 1px;
			}
			& + .rubl {
				color: #7f7d79;
			}
		}
		&__img {
			// float: left;
			margin:9px 20px 0 -6px;
		}
		&__current-price-block {
			// float: left;
			display: inline-block;
			vertical-align: top;
		}
		&__current-price {
			color: #57a858;
			font-size: 34px;
			margin: 0;
			display: inline-block;
			font-weight: bold;
			float: left;
			& + .rubl {
				font-size: 20px;
				color: #57a858;
				margin: 10px 0 0 5px;
				display: inline-block;
			}
		}
		&__quantity {
			width: 100px;
			height: 50px;
			padding: 0 53px 0 14px;
			font-weight: bold;
			font-size: 18px;
			border-radius: 35px 0 0 35px;
			text-align: center;
		}
		&__btn {
			width: 173px;
			height: 50px;
			border-left: 3px solid #dac25d;
			border-right: 3px solid #dac25d;
			border-bottom: 3px solid #dac25d;
			border-top: none;
			border-radius: 25px;
			background: #e7cf6d;
			font-size: 18px;
			font-weight: bold;
			margin: 0 0 0 -33px;
			vertical-align: top;
			&:hover {
				background: lighten(#e7cf6d, 5%);
			}
			&-cart {
				color: #fff;
				background: #57A858;
				border-left: 3px solid #3B823C;
				border-right: 3px solid #3B823C;
				border-bottom: 3px solid #3B823C;
				&:hover {
					background: #57A858;
				}
			}
		}
		&__changer {
			padding: 0;
			background: none;
			border: none;
			margin: 0;
			&.up {
				@include triangle(12px, #999 transparent, up);
				@include position(absolute, 14px null null 48px);
			}
			&.down {
				@include triangle(12px, #999 transparent, down);
				@include position(absolute, 30px null null 48px);
			}
		}
		&__availability {
			margin: 18px 0 0 0;
			color: #837e77;
			& * {
				font-weight: bold;
				color: #3d3835;
			}
		}
	}
}

/* end CONTENT */