/* FONTS */

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Proxima Nova Regular.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Proxima Nova Regular Italic.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Proxima Nova Black.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Proxima Nova Black Italic.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Proxima Nova Bold.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Proxima Nova Semibold.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Proxima Nova Extrabold.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Proxima Nova Extrabold Italic.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Proxima Nova Light.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Proxima Nova Light Italic.otf") format("truetype");
}
@include font-face("Rubl", "../fonts/ALSRubl", $file-formats: ttf eot woff);
@include font-face("Lato Black", "../fonts/Lato-Black", $file-formats: ttf);

/* end fonts */