/* HEADER */
.menu {
	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: inline-block;
	}
	&__item {
		display: inline-block;
		padding: 0px 14px 0 20px;
		line-height: 14px;
		&:last-child {
			padding: 0 17px 0 20px;
		}
	}
	&__link {
		text-transform: uppercase;
		font-weight:  700;
		font-size: 13px;
		position: relative;
		&:before {
			content: '';
			@include position(absolute, null null -2px 0);
			width: 0%;
			height: 2px;
			@include transition(all 0.4s ease-in-out);
		}
		&.active,
		&:hover {
			text-decoration: none;
			&:before {
				width: 100%;
			}
		}
	}
	&-header {
		.menu__item {
			border-left: 1px solid #aaaaaa;
			&:last-child {
				border-right: 1px solid #aaa;
			}
		}
		.menu__link {
			color: #000;
			&:before {
				background: #d59f4f;
			}
			&:hover,
			&.active {
				color: #000;
			}
		}
	}
	&-footer {
		.menu__item {
			border-left: 1px solid #555;
			&:last-child {
				border-right: 1px solid #555;
			}
		}
		.menu__link {
			color: #fff;
			&:before {
				background: #fff;
			}
			&:hover,
			&.active {
				color: #fff;
			}
		}
	}
}

.header {
	position: relative;
	z-index: 2;
	&__logo {
		float: left;
		display: inline-block;
		margin: -6px 0 -99px -15px;
		z-index: 2;
		position: relative;
	}
	&__block-inner {
		margin-left: 155px;
	}
	&-top-block {
		padding-top: 19px;
		background: #fff;
		margin-bottom: -5px;
		border-bottom: 1px solid #cfcfce;
		&__phone {
			font-size: 17px;
			font-weight: 800;
			color: #3d3835;
			margin: 0 2% 0 0;
			display: inline-block;
			position: relative;
			float: right;
			&:before {
				content: '';
				@include position(absolute, 0 null null -28%);
				background: url(../img/header-sprite.png) -5px -5px no-repeat;
				width: 23px;
				height: 25px;
			}
		}
		&__work-text {
			color: #898685;
			line-height: normal;
			font-size: 12px;
			margin: -1px 2% 0 0px;
			display: inline-block;
		}
		&__email {
			color: #d59f4f;
			font-family: "Lato Black";
			font-size: 15px;
			display: inline-block;
			line-height: 17px;
			border-bottom: 1px solid;
			position: relative;
			&:focus,
			&:hover {
				text-decoration: none;
				color: #d59f4f;
				border-bottom: 1px solid transparent;
			}
			&:before {
				content: '';
				@include position(absolute, 1px null null -39px);
				background: url(../img/header-sprite.png) -66px -55px no-repeat;
				width: 21px;
				height: 17px;
			}
		}
		&__email-block {
			width: 197px;
			text-align: right;
			position: relative;
			&:before {
				content: '';
				@include position(absolute, 4px null null 0);
				width: 1px;
				height: 15px;
				background: #aaa;
			}
		}
	}
	&-middle-block {
		padding: 22px 0;
	}
	&-bottom-block {
		background: rgba(0,0,0,0.7);
		height: 98px;
		border-bottom: 1px solid #6d6248;
	}
}
.search-form {
	width: 50%;
	position: relative;
	display: inline-block;
	margin-right: 15px;
	@include transition(all 0.4s ease-in-out);
	&__input {
		border: 1px solid #d1c6b8;
		padding-right: 120px;
		&:focus{
			box-shadow: 0 0 4px #d59f4f;
		}
		&.smart-open {
			background: #f3efe9;
			border-radius: 20px 20px 0 0;
		}
	}
	&__btn {
		@include position(absolute, 3px 3px null null);
		padding: 0 26px 0 50px;
		&:before {
			content: '';
			@include position(absolute, 9px null null 21px);
			background: url(../img/header-sprite.png) -133px -5px;
			width: 15px;
			height: 15px;
		}
	}
}
.user {
	&__block {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		position: relative;
	}
	&__link {
		border-bottom: 1px dotted;
		color: #000;
		display: inline-block;
		font-weight: 700;
		font-size: 13px;
		line-height: 16px;
		vertical-align: top;
		position: relative;
		margin: 13px 63px 0 70px;
		@include transition(all 0.4s ease-in-out);
		&:hover {
			color: #543500;
			text-decoration: none;
			border-bottom: 1px dotted transparent;
		}
		&:before {
			content: '';
			@include position(absolute, -10px null null -48px);
			width: 41px;
			height: 40px;
		}
		&:after {
			content: '';
			@include position(absolute, 0 null null -71px);
			width: 1px;
			height: 15px;
			background: #aaa;
		}
		&-enter{
			&:before {
				background: url(../img/enter-static.png) 0 0 no-repeat;
				@include transition(all 0.4s ease-in-out);
			}
			&:hover {
				&:before {
					background: url(../img/enter-hover.png)  0 0 no-repeat;	
				}
			}
		}
		&-registration {
			margin-right: 0;
			&:before {
				background: url(../img/header-sprite.png) no-repeat;
				top: -11px;
				left: -55px;
				background-position: -5px -47px;
			}
		}
		&-login {
			margin: 13px 30px 0 70px;
			color: #543500;
			&:before {
			  content:  '';
			  @include position(absolute, 7px -20px null auto);
			  background: url(../img/red-arrow.png) 0 0 no-repeat;
			  width: 11px;
			  height: 4px;
			  @include transition(all 0.4s ease-in-out);
			}
			&.active {
				&:before {
					background: url(../img/gray-arrow.png) 0 0 no-repeat;
				}
			}
		}
	}
	&__img {
		border-radius: 50%;
		z-index: 11;
		border: 5px solid #e8e3dc;
		@include position(absolute, 0 null null 20px);
	}
	&__drop-down {
		@include transform(rotateY(90deg));
		z-index: 10;
		width: 140px;
		padding: 17px 11px 5px 11px;
		border-radius: 5px;
		background: #e8d06d url(../img/user-bg.png) right center no-repeat;
		@include position(absolute, 29px null null 15px);
		@include transition(all 0.4s ease-in-out);
		&.active {
			@include transform(rotateY(0deg));
		}
		&-item {
			padding: 17px 11px;
			&:first-child {
				border-bottom: 1px solid #baa657;
			}
		}
		&-link {
			display: inline-block;
			font-size: 12px;
			border-bottom: 1px solid;
			line-height: 10px;
			margin-left: 23px;
			position: relative;
			&:before {
				content: '';
				@include position(absolute, 0 null null -20px);
				width: 11px;
				height: 13px;
			}
			&:hover {
				border-bottom: 1px solid transparent;
				text-decoration: none;
			}
			&.profile {
				color: #000;
				&:before {
					background: url(../img/user.png) 0 0 no-repeat;	
				}
			}
			&.exit {
				color: #533114;
				&:before {
					background: url(../img/door.png) 0 0 no-repeat;	
				}
			}
		}
	}
}
.basket {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 13px;
	color: #7f7a76;
	margin: 11px 0 0 -20px;
	@extend .header-top-block__email-block;
	text-align: left;
	padding-left: 63px;
	&__price {
		display: inline-block;
	}
	&__link {
		font-size: 13px;
		font-weight: bold;
		color: #7f7a76;
		display: inline-block;
		border-bottom: 1px dotted;
		line-height: 15px;
		&:hover {
			color: #7f7a76;
			text-decoration: none;
			border-bottom: 1px dotted transparent;
		}
	}
	&__img-block {
		background: url(../img/header-sprite.png) -38px -5px;
		width: 34px;
		height: 32px;
		@include position(absolute, -7px null null 19px);
	}
	&__quantity {
		text-align: center;
		@include position(absolute, null 0 -2px null);
		border-radius: 50%;
		background: $orange;
		color: #000;
		width: 20px;
		line-height: 20px;
		height: 20px;
		font-weight: bold;
		font-size: 13px;
		display: inline-block;
	}
}
.category {
	margin-left: -38px;
	&__link {
		padding: 29px 38px 0 38px;
		height: 97px;
		overflow: hidden;
		text-decoration: none;
		display: inline-block;
		vertical-align: top;
		position: relative;
		@include transition(all 0.4s ease-in-out);
		&.active,
		&:hover {
			background: rgba(0,0,0, 0.5);
			.category__title {
				border-bottom: 1px dotted transparent;
			}
		}
		&:not(:last-child):before {
			content: '';
			@include position(absolute, 17px 0 null null);
			background: url(../img/header-sprite.png) -133px -45px no-repeat;
			width: 1px;
			height: 65px;
		}
		&:first-child {
			margin-right: -4px;
		}
	}
	&__img {
		float: left;
		margin-right: 15px;
	}
	&__title {
		color: #fff;
		text-transform: uppercase;
		font-size: 13px;
		display: inline-block;
		margin: 8px 0 0px 0;
		font-weight: bold;
		line-height: 13px;
		border-bottom: 1px dotted #fdce6b;
		@include transition(all 0.4s ease-in-out);
	}
	&__description {
		display: inline-block;
	}
	&__quantity {
		color: #a59b87;
		font-size: 12px;
		margin: 0;
		position: relative;
		display: inline-block;
		padding-right: 20px;
		&:before {
			content: '';
			@include position(absolute, 6px -8px null null);
			background: url(../img/header-sprite.png) -133px -30px no-repeat;
			width: 14px;
			height: 5px;
		}
	}
}
// результаты умного поиска
.smart-result {
	&__block {
		@include position(absolute, 38px null null 0);
		border: 1px solid #d1c6b8;
		border-radius: 0 0 15px 15px;
		z-index: 3;
		background: #fff;
		width: 100%;
		display: none;
		padding: 10px;
	}
	&__item {
		padding: 10px 0 15px 0;
		margin: 0 10px 4px 10px;
		border-bottom: 1px solid #d9d9d9;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		&:last-child {
			margin-bottom: -3px;
			border-bottom: none;
		}
	}
	&__img {
		float: left;
		max-width: 45px;
		max-height: 50px;
	}
	&__description {
		margin: 7px 0 0 53px;
	}
	&__title {
		color: #000;
		display: block;
		margin-bottom: 7px;
		font-size: 13px;
		text-transform: uppercase;
		@include transition(all 0.4s ease-in-out);
		&:hover {
			text-decoration: none;
			color: $orange;
		}
	}
	&__category {
		color: #aa4507;
		font-size: 13px;
		display: inline-block;
		border-bottom: 1px solid #efe0dc;
		line-height: 13px;
		&:hover {
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
	}
}

/* end HEADER*/