/* MEDIA */
@media (max-width: 1200px) {
	.category {
		&__link {
			padding: 29px 20px 0 20px;
		}
	}
	.footer {
		&-top {
			&__phone {
				&:before {
					display: none;
				}
			}
			&__work-text {
				display: none;
			}
		}
	}
	.about {
		&-description {
			&__block {
				max-width: 100%;
			}
		}
	}
}
@media (max-width: 1270px) {
	.basket {
		width: auto;
		&__line {
			display: none;
		}
	}
	.goods {
		&-body {
			&__one-row-four-items {
				.goods-body__item {
					width: 31.3%;
				}
			}
			&__last-four-none {
				.goods-body__item:nth-child(4) {
					display: none;
				}
			}
		}
	}
}