/* MEDIA */
@media (max-width: 1200px) {
	.category {
		&__link {
			padding: 29px 20px 0 20px;
		}
	}
	.item {
		&-image {
			&__thumb-wrapper {
				@include flex-basis(21%);
			}
		}
		&-info {
			&__characteristics {
				width: 35%;
			}
			&__description {
				width: 60%;
			}
			&__price-block {
				text-align: center!important;
				width: 50%;
				&:nth-child(2n) {
					&:before {
						display: none;
					}
				}
			}
			&__price {
				@include flex-wrap(wrap);
				text-align: center;
			}
			&__current-price-block,
			&__img {
				float: none;
				display: inline-block;
			}
		}
	}
	.footer {
		&-top {
			&__phone {
				&:before {
					display: none;
				}
			}
			&__work-text {
				display: none;
			}
		}
	}
}
@media (max-width: 1270px) {
	.basket {
		width: auto;
		&__line {
			display: none;
		}
	}
	.goods {
		&-body {
			&__one-row-four-items {
				.goods-body__item {
					width: 31.3%;
				}
			}
			&__last-four-none {
				.goods-body__item:nth-child(4) {
					display: none;
				}
			}
			&__one-row-five-items {
				.goods-body__item {
					width: 23%;
				}
			}
			&__last-five-none {
				.goods-body__item:nth-child(5) {
					display: none;
				}
			}
		}
	}
}
@media (min-width: 1201px) and (max-width: 1330px) {
	.item-info__price-block:last-child {
		display: none;
	}
}