// ---------------------  Variables

$main_font: 'Proxima Nova', sans-serif;
$main_color: #000;

// FONTS
.rubl {
    font-family: 'Rubl';
    font-style: normal;
    font-weight: normal;
    margin-left: 5px;
}

// COLORS
$orange: #e8d06d;


html { height: 100%;}
body {
    font-family: $main_font;
    font-weight: normal;
    height: 100%;
    color: $main_color;
    background: #e8e3dc url(../img/bg.png);
}

* { @include box-sizing(border-box);}

.container-fluid {
    min-width: 1000px;
    max-width: 1360px;
    position: relative;
    font-size: 14px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    &:before,
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
.main-wrapper { min-height: 100%; overflow: hidden;}

.buffer {
    height: 155px;
}

label { font-weight: normal;}
img {max-width: 100%;}
a img {border: none;}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
a:focus {text-decoration: none; color: inherit;}
button, input, textarea {outline: none;}

// Helpers Classes
.pull-right {float: right;}
.pull-left  {float: left;}

.text-center {text-align: center;}
.text-right {text-align: right;}

.margin-bottom-10 {margin-bottom: 10px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-bottom-30 {margin-bottom: 30px;}
.margin-bottom-40 {margin-bottom: 40px;}

.clearfix {
    &:after,
    &:before {
        content: '';
        display: block;
        clear: both;
    }
}

.no-margin { margin: 0 !important;}
.no-padding { padding: 0 !important;}

// COMPONENTS

// Form
.form-input {
    background: #fff;
    width: 100%;
    border: none;
    line-height: 38px;
    border-radius: 20px;
    padding: 0 10px 0 29px;
    font-size: 12px;
}
.form-btn {
    border: none;
    height: 34px;
    line-height: 34px;
    background: #e8d06d;
    @include position(absolute, null null null null);
    @include transition(all 0.4s ease-in-out);
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 18px;
    &:hover {
        background: #c7b25d;
    }
    &.disabled,
    &[disabled] {
        color: #bfbcb0;
        cursor: default;
    }
}

// button
.btn {
    border-radius: 20px;
    border: 2px solid;
    padding: 0 17px;
    line-height: 33px;
    text-decoration: none;
    display: inline-block;
    @include transition(all 0.4s ease-in-out);
    &:hover {
        text-decoration: none;
    }
}