// ---------------------  Variables

$main_font: 'Proxima Nova', sans-serif;
$main_color: #000;

// FONTS


// COLORS


html { height: 100%;}
body {
    font-family: $main_font;
    font-weight: normal;
    height: 100%;
    color: $main_color;
    background: #e8e3dc;
}

.container-fluid {
    min-width: 1020px;
    max-width: 1360px;
    position: relative;
    font-size: 14px;
    @include box-sizing(border-box);
}

label { font-weight: normal;}
img {max-width: 100%;}
a img {border: none;}
button, input, textarea {outline: none;}

// Helpers Classes