doctype html
include includes/_vars
html(lang="ru")
	include includes/_head
	body
		include includes/_modals
		.main-wrapper
			include includes/_header
			block content
			.buffer
		include includes/_footer