extends _layout
block content
	// блок с видео
	.video__wrapper
		.video__block
			video.video__player(loop autoplay muted)
				source(src="video/video.mp4" type="video/mp4")
				source(src="video/video.webm" type="video/webm")
				source(src="video/video.ogg" type="video/ogg")
	// конец блока с видео
	.container-fluid
		.content
			.content-top
				// хлебные крошки
				.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#!") Главная страница
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#!") FAQ
				// конец хлебные крошки
				h1.title FAQ
			.faq__section
				// блок с вопросом
				.faq__block(toggle-parent)
					a.faq__question(href="#!" toggle-trigger) 
						span.faq__border Как происходить доставка товара после оформления заказа и ее оплаты?
					// ответ на вопрос
					.faq__answer(toggle-target)
						p.faq__answer-title Ответ
						p.faq__answer-text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей.
					// ответ на вопрос
				// конец блока с вопросом
				- for (var i = 0; i < 6; ++i) {
					.faq__block(toggle-parent)
						a.faq__question(href="#!" toggle-trigger) 
							span.faq__border Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas facilis quae est commodi laboriosam quod eligendi, alias quibusdam corrupti!
						.faq__answer(toggle-target)
							p.faq__answer-title Ответ
							p.faq__answer-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae modi ratione laboriosam? Quo magni, deserunt culpa nihil doloribus ut tempora eligendi sunt velit, eveniet iure nesciunt sequi quisquam veniam. Aliquid.
				-	}