extends _layout
block content
	// блок с видео
	.video__wrapper
		.video__block
			video.video__player(loop autoplay muted)
				source(src="video/video.mp4" type="video/mp4")
				source(src="video/video.webm" type="video/webm")
				source(src="video/video.ogg" type="video/ogg")
	// конец блока с видео
	.container-fluid
		.content
			// блок с фото товара
			.item-image__section
				.item-image__main-block
					a.fancybox(href="img/content/img.jpg" rel="gallery")
						img.item-image__main-img(src="img/content/img.jpg", alt="")
				.item-image__thumb-block
					- for (i = 1; i < 5; ++i) {
						.item-image__thumb-wrapper
							a(href="#!")
								img.item-image__thumb-img(src="img/content/g"+i+".jpg", alt="")
					- }
					- for (i = 1; i < 5; ++i) {
						.item-image__thumb-wrapper
							a(href="#!")
								img.item-image__thumb-img(src="img/content/g"+i+".jpg", alt="")
					- }
			// конец блока с фото товара
			.item-info
				.content-top
					// хлебные крошки
					.breadcrumbs
						ul.breadcrumbs__list
							li.breadcrumbs__item
								a.breadcrumbs__link(href="#!") Главная страница
							li.breadcrumbs__item
								a.breadcrumbs__link(href="#!") Жидкости
					// конец хлебные крошки
					h1.title.item-info__title FIVE PAWNS: BLACK FLAG RISEN - ORIGINAL
					// артикул
					p.item__article
						| Артикул:
						span.item__article-value 5678978954
					// конец артикула
				.item-info__price
				.item-info__features
					.item-info__description
						a.item-info__video-link.fancybox(href="https://www.youtube.com/embed/gbi_vjlE3DE" class="fancybox.iframe") видео-обзор
						p.item-info__block-title описание
					.item-info__characteristics
						p.item-info__block-title характеристики					
			// секция с 5-ю товарами
			.goods__section.margin-bottom-40.clearfix
				.goods-header
					h3.goods-header__title.new Возможно, вас так же заинтересуют:
				.goods-body.goods-body__one-row-five-items.goods-body__last-five-none
					- for (var i = 0; i < 5; ++i) {
						.goods-body__item
							.goods-body__wrapper
								img.goods-body__img(src="img/content/g2.jpg", alt="")
								.goods-body__price-block
									span.goods-body__price(replaced-number) #{2900 * i / 2 + 25}
									span.rubl a
							.goods-body__description
								p.goods-body__name TRUEBERRY SUGAR & KNIFE
								p.goods-body__category Жидкость
								a.btn.goods-body__cart-btn(href="#!") в корзину
								a.btn.goods-body__detail-btn(href="#!") детали
					-	}
			// конец секции с 5-ю товарами
	// блок как это работает
	.process
		.container-fluid
			p.process__title 
				span.process__img ?
				| как это работает?
			.process__section
				.process__block
					img.process__block-img(src="img/process_1.png", alt="Process")
					p.process__block-text Выберите нужный вам продукт в нашем онлайн каталоге
				.process__block
					img.process__block-img(src="img/process_2.png", alt="Process")
					p.process__block-text Оформите заказ и оплатите удобным для вас способом
				.process__block
					img.process__block-img(src="img/process_3.png", alt="Process")
					p.process__block-text Наш оператор свяжется с вами и уточнит детали доставки товара.
				.process__block
					img.process__block-img(src="img/process_4.png", alt="Process")
					p.process__block-text Вы получите товар на дом или на почтовый адрес.
	// конец блока как это работает