extends _layout
block content
	// блок с видео
	.video__wrapper
		.video__block
			video.video__player(loop autoplay muted)
				source(src="/video/video.mp4" type="video/mp4")
				source(src="/video/video.webm" type="video/webm")
				source(src="/video/video.ogg" type="video/ogg")
	// конец блока с видео
	.container-fluid
		.content
			// блок с фото товара
			.item-image__section
				.item-image__main-block
					a.fancybox(href="/img/content/img.jpg" rel="gallery")
						img.item-image__main-img(src="/img/content/img.jpg", alt="")
				.item-image__thumb-block
					- for (i = 1; i < 5; ++i) {
						.item-image__thumb-wrapper
							a.fancybox(href="/img/content/g"+i+".jpg" rel="gallery")
								img.item-image__thumb-img(src="/img/content/g"+i+".jpg", alt="")
					- }
					- for (i = 1; i < 5; ++i) {
						.item-image__thumb-wrapper
							a.fancybox(href="/img/content/g"+i+".jpg" rel="gallery")
								img.item-image__thumb-img(src="/img/content/g"+i+".jpg", alt="")
					- }
			// конец блока с фото товара
			.item-info
				.content-top
					// хлебные крошки
					.breadcrumbs
						ul.breadcrumbs__list
							li.breadcrumbs__item
								a.breadcrumbs__link(href="#!") Главная страница
							li.breadcrumbs__item
								a.breadcrumbs__link(href="#!") Жидкости
					// конец хлебные крошки
					h1.title.item-info__title FIVE PAWNS: BLACK FLAG RISEN - ORIGINAL
					// артикул
					p.item__article
						| Артикул:
						span.item__article-value 5678978954
					// конец артикула
				// блок цен
				.item-info__price
					.item-info__price-block
						p.item-info__price-title Обычная стоимость
						p.item-info__old-price(replaced-number) 21000
						span.rubl a
					.item-info__price-block
						img.item-info__img(src="/img/sale.png", alt="")
						.item-info__current-price-block
							p.item-info__price-title Стоимость со скидкой
							p.item-info__current-price(replaced-number) 15800
							span.rubl a
					.item-info__price-block(item-parent)
						form(action="#")
							input.form-input.item-info__quantity(type="text" readonly value="1" item-max-val="25" item-val)
							button.item-info__changer.down(type="button" data-val="-1" item-changer)
							button.item-info__changer.up(type="button" data-val="1" item-changer)
							button.btn.item-info__btn(type="submit") В корзину
					.item-info__price-block.text-right
						p.item-info__availability
							strong В наличии:
							|  25 шт
				// конец блока цен
				.item-info__features
					// блок с описанием товара
					.item-info__description
						a.item-info__video-link.fancybox(href="https://www.youtube.com/embed/gbi_vjlE3DE" class="fancybox.iframe") видео-обзор
						p.item-info__block-title описание
						p.item-info__text Чтобы показать заказчику эскизы сайта, нужно где-то найти тексты и картинки. Как правило, ни того, ни другого в момент показа эскизов у дизайнера нету. Что же делает дизайнер? Он делает рыбу.
						p.item-info__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eius aliquam et animi eveniet aliquid molestiae nesciunt provident modi consectetur aspernatur, fugiat, esse architecto nobis reprehenderit tempora tempore necessitatibus impedit.
					// конец блока с описанеим товара
					// блок с характеристиками
					.item-info__characteristics
						p.item-info__block-title характеристики
						p.item-info__characteristics-value
							strong Крепость:
							| 0 мг, 3 мг, 6 мг, 12 мг
						p.item-info__characteristics-value
							strong Бренд:
							| Five Pawns
						p.item-info__characteristics-value
							strong Вкус:
							| Напитки
						p.item-info__characteristics-value
							strong Объем:
							| 30 мл
						p.item-info__characteristics-value
							strong VG/PG:
							| 50/50
					// конец блока с характеристиками
			// секция с 5-ю товарами
			.goods__section.margin-bottom-40.clearfix
				.goods-header
					h3.goods-header__title.new Возможно, вас так же заинтересуют:
				.goods-body.goods-body__one-row-five-items.goods-body__last-five-none
					- for (var i = 0; i < 5; ++i) {
						.goods-body__item
							.goods-body__wrapper
								a(href="#!")
									img.goods-body__img(src="/img/content/g2.jpg", alt="")
								.goods-body__price-block
									span.goods-body__price(replaced-number) #{2900 * i / 2 + 25}
									span.rubl a
							.goods-body__description
								p.goods-body__name TRUEBERRY SUGAR & KNIFE
								p.goods-body__category Жидкость
								a.btn.goods-body__cart-btn(href="#!") в корзину
								a.btn.goods-body__detail-btn(href="#!") детали
					-	}
			// конец секции с 5-ю товарами
	// блок как это работает
	.process
		.container-fluid
			p.process__title 
				span.process__img ?
				| как это работает?
			.process__section
				.process__block
					img.process__block-img(src="/img/process_1.png", alt="Process")
					p.process__block-text Выберите нужный вам продукт в нашем онлайн каталоге
				.process__block
					img.process__block-img(src="/img/process_2.png", alt="Process")
					p.process__block-text Оформите заказ и оплатите удобным для вас способом
				.process__block
					img.process__block-img(src="/img/process_3.png", alt="Process")
					p.process__block-text Наш оператор свяжется с вами и уточнит детали доставки товара.
				.process__block
					img.process__block-img(src="/img/process_4.png", alt="Process")
					p.process__block-text Вы получите товар на дом или на почтовый адрес.
	// конец блока как это работает