extends _layout
block content
	// начало блока с благодарностью
	.thanks__block
		img.thanks__img(src="/img/ok.png", alt="")
		p.thanks__title Поздравляем!
		p.thanks__text Вы успешно зарегистрировались на сайте, теперь вы можете зайти<br>в <a href="#!">личный кабинет</a> или <a href="#!">оформить заказ</a>!
		p.thanks__text ... а также можете <a href="#!">вернуться на главную</a>
	// конец блока с благодарностью