// блок с баннерами
.banner__section
	a.banner__link(href="#!")
		img.banner__img(src="img/banner.jpg", alt="banner")
	a.banner__link(href="#!")
		img.banner__img(src="img/calc_banner.png", alt="banner")
// конец блока с баннерами