footer.footer
	.container-fluid
		.footer-top
		.footer-bottom
			.pull-left
				img.footer-bottom__img(src="img/footer_logo.png", alt="")
				p.footer-bottom__copyright Все права защищенны<br>“VapeStolitsa” 2016
			.pull-right
				a.footer__development(href="http://www.studio-maximus.com/")
include _script