head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(description="")
	meta(keywords="")

	link(rel="shortcut icon" type="images/vnd.microsoft.icon" href="favicon.ico")
	link(href="css/normalize.css" rel="stylesheet" media="all")
	link(href="css/styles.css" rel="stylesheet" media="all")
	script(src="js/jquery.js")

	title