// окно входа на сайт
.modal#enter
	span.modal__close
	p.modal__title Вход на сайт
	// форма входа
	form(action="#")
		.form-control
			span.form-icon.form-icon-email
			input.form-input.modal__input.error(type="email" required placeholder="E-mail")
		.form-control
			span.form-icon.form-icon-shield
			input.form-input.modal__input(type="password" placeholder="Пароль")
		.form-control
			button.form-btn.modal__btn(type="submit") Войти
	// конец форма входа
	a.modal__link.fancybox(href="#restore") Забыли пароль?
// конец входа на сайт
// окно восстановления пароля
.modal#restore
	span.modal__close
	p.modal__title Востановление<br>пароля
	// форма входа
	form(action="#")
		.form-control
			span.form-icon.form-icon-email
			input.form-input.modal__input(type="email" required placeholder="E-mail")
		.form-control
			button.form-btn.modal__btn(type="submit") Выслать письмо с инструкцией
	// конец форма входа
	a.modal__link.fancybox(href="#enter") Я вспомнил пароль!
// конец окна восстановления пароля
// окно регистрации
.modal#registration
	span.modal__close
	p.modal__title.modal__title-registration Регистрация на сайте
	form(action="#")
		.modal__half-block
			.form-control
				span.form-icon.form-icon-user
				label.form-label Имя
				input.form-input.modal__input(type="email" required)
			.form-control
				span.form-icon.form-icon-shield
				label.form-label Пароль
				input.form-input.modal__input(type="password" required)
		.modal__half-block.pull-right
			.form-control
				span.form-icon.form-icon-email
				label.form-label E-mail
				input.form-input.modal__input(type="email" required)
			.form-control
				span.form-icon.form-icon-shield
				label.form-label Подтвердите пароль
				input.form-input.modal__input(type="password" required)
		.form-control
			button.form-btn.modal__btn.modal__btn-registration(type="submit") Создать аккаунт
// конец окна регистрации