// слайдер 
.slider__section
	ul.slider__block
		li.slider__item(style="background: url(/img/content/slide_1.jpg) center no-repeat;")
			.container-fluid
				.feedback__block
					p.feedback__title отзывы наших клиентов
					p.feedback__author Марина кравец
					p.feedback__text Товарищи! дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.
		li.slider__item(style="background: url(/img/content/slide_2.jpg) center no-repeat;")
			.container-fluid
				.feedback__block
					p.feedback__title отзывы наших клиентов
					p.feedback__author мистер дедпулл
					p.feedback__text   Текст будет обрезаться если высота больше 85 точек, consectetur adipisicing elit. Illo officia dicta aliquam veniam quas natus recusandae, minima, soluta earum, expedita a perspiciatis? Quia, cumque reiciendis beatae illo, omnis odio voluptatibus odit libero magnam dignissimos maxime nulla animi quae. Iusto provident laboriosam optio, harum saepe ab ut officia reprehenderit explicabo magnam.
		li.slider__item(style="background: url(/img/content/slide_1.jpg) center no-repeat;")
			.container-fluid
				.feedback__block
					p.feedback__title отзывы наших клиентов
					p.feedback__author Товарищ
					p.feedback__text Товарищи!
// конец слайдер