// слайдер 
.slider__section
	ul.slider__block
		li.slider__item(style="background: url(/img/content/slide_1.jpg) center no-repeat;")
			//- img.slider__img(src="img/content/slide_1.jpg", alt="")
			.container-fluid
		li.slider__item(style="background: url(/img/content/slide_2.jpg) center no-repeat;")
			//- img.slider__img(src="img/content/slide_2.jpg", alt="")
			.container-fluid
// конец слайдер